html[data-theme="sangre"] {
  /* ====================== OLD VARIABLES SECTION =========================== */
  --saito-primary: #b70b0b;
  --saito-primary-transparent: #b70b0b88;
  --saito-font-color: #dedede;
  --saito-font-color-heavy: #ddd;
  --saito-font-color-light: #aaa;
  --saito-font-color-inverse: #1c1c23;
  --saito-border-color: #555;
  --saito-border-color-dark: #666;
  --saito-background-color: #1f1a1b;
  --saito-background-light: #333;
  --saito-sidebar-element-background: #0003;
  --saito-gray-transparent: #88888818;
  --saito-box-shadow: 0 0 0 1px var(--saito-border-color);
  --saito-arcade-header-background: var(--saito-background-color);
  --saito-bubble-shadow: #000c;
  --saito-bubble-background: #111;
  /* ================= NEW UPDATED THEME ================== */
  /*BASE COLOR SECTION*/
  --saito-primary: #b70b0b;
  /* blood red */
  /* Gray with warm tint */
  /* MID gray  */
  --color-base: #1c1c23;
  /*  super dark almost black */
  --color-contrast: #aaa;
  /* off-white */
  /*TINTS COLOR SECTION*/
  --saito-gray-mid: #ddd;
  /* bright-off-white */
  /* very dark gray */
  --color-highlight: #f71f3d;
  /* saito-red */
  /*SHADOW COLOR SECTION*/
  /* almost black, transparent */
  --saito-bubble-shadow: #000c;
  /*MAIN BACKGROUND COLOR SECTION*/
  --background-color-main: #1f1a1b;
  /*FONTS SECTION*/
  /*quick settings*/
  /* normal */
  --font-color-secondary: var(--color-contrast);
  /*  faded grey  */
  --font-color-heavy: var(--saito-white);
  /* Bright! */
  --font-color-inverse: var(--background-color-main);
  /* background colory */
  /*Font Selection*/
  --font-color-paper-airplane: var(--font-color-secondary);
  --font-color-emoji: var(--font-color-secondary);
  --font-color-chat-popup-likes: var(--font-color-primary);
  --font-color-button-chat-popup-header: var(--font-color-primary);
  --font-color-button-primary: var(--font-color-heavy);
  --font-color-button-chat-container: var(--font-color-primary);
  /* Menu and Header Font Colors */
  --font-color-menu-hamburger: var(--font-color-heavy);
  --font-color-header-msg: var(--font-color-heavy);
  /* Alerts and Status Font Colors */
  --font-color-user-address: var(--font-color-heavy);
  --font-color-status-message: var(--font-color-heavy);
  /* Exempt as system color */
  /* Module and Overlay Font Colors */
  --font-color-overlay-form-text: var(--font-color-primary);
  /* BORDER RADIUS */
  --border-radius-modal-menu: var(--border-radius-soft);
  /* BORDER THICKNESS */
  --border-padding-qr-code: 0;
  --border-thickness-button-primary: var(--border-thickness-thin);
  --border-thickness-button-hover-primary: var(--border-thickness-thin);
  --border-thickness-qr-code: var(--border-thickness-fat); /* for contrast to be able to scan */
  /* BORDER COLORS */
  --border-color-general-dividers-dark: var(--saito-primary);
  --border-color-button-wallet-control: var(--saito-gray-dark);
  --border-color-button-modal: var(--saito-gray-dark);
  --border-color-button-module: var(--saito-gray-dark);
  --border-color-sidebar-menu: var(--color-tint-dark);
  --border-color-modal-menu: var(--saito-gray-dark);
  --border-color-module-menu: none;
  --border-color-overlay-subform: var(--color-tint-dark);
  --border-color-chat-menu: ;
  --border-color-identicon: var(--color-contrast);
  --border-color-identicon-square: ;
  --border-color-identicon-square-profile: var(--border-color-general-dividers);
  --border-color-chat-popup-docked: var(--saito-primary);
  --border-color-selection-box: var(--color-highlight);
  --border-color-form-input-checkbox: var(--color-contrast);
  /* BACKGROUNDS */
  /* General Background Colors */
  --background-color-sidebar-left: var(--saito-bubble-shadow);
  --background-color-modal-menu-oldschool: none;
  --background-color-overlay-form-header: var(--color-base);
  /* Button Background Colors */
  --background-color-button-hover-sidebar: var(--saito-primary);
  --background-color-button-sidebar-chat-active: var(--saito-primary);
  --background-color-button-hover-modal-oldschool: var(--saito-primary);
  --background-color-button-chat-popup-send: var(--background-color-main);
  /* Progress Bar */
  /* Sidebar, Headers and Notification Colors */
  /* Special UI Components */
  --background-color-icon-close: var(--saito-gray-dark);
  --background-color-hover-post-preview: var(--background-color-main);
  /* solves the dark theme hover gradient problem*/
  /* Chat Related Colors */
  /* Theme Specific */
  --saito-arcade-header-background: var(--background-color-main);
}