/*-------------------- RAVEN THEME -------------------- */

html[data-theme='raven'] {
  /*BASE COLOR SECTION*/
  --saito-background-color: #14212d;
  --saito-background-color-inverse:  #e3e7eb;
  --saito-header-background: var(--saito-background-color);

  --saito-surface-color: rgba(255, 255, 255, 0.03);
  --saito-surface-text: var(--saito-font-color);
  --saito-surface-hover: rgba(255, 255, 255, 0.06);
  --saito-surface-selected: rgba(255, 255, 255, 0.12);
  --saito-surface-inverse: var(--saito-background-color-inverse);
  --saito-surface-inverse-text: var(--saito-font-color-inverse);

  --saito-primary: #358ccf;
  --saito-primary-dark: #3071a6;
  --saito-secondary: #c535cf;

  /*FONTS SECTION*/
  --saito-font-color: #ddd;
  --saito-font-color-heavy: var(--saito-white);
  --saito-font-color-light: #aaa;
  --saito-font-color-secondary: var(--saito-gray-500);
  --saito-font-color-inverse: var(--saito-gray-850);

  /*TINTS COLOR SECTION*/
  --saito-highlight: #ccc1;
  --saito-highlight-heavy: #7775;

  /* BORDER COLORS */
  --saito-border-color: var(--saito-border-color-dark);
  --border-color-general-dividers: var(--saito-border-color);
}
