html[data-theme="midnight"] {
  /* ====================== OLD VARIABLES SECTION =========================== */
  --saito-background-light: var(--saito-gray-dark);
  /* for fixing an issue in the arcade leagues overlay */
  /* ====================== NEW THEME SECTION =========================== */
  /*BASE COLOR SECTION*/
  --saito-primary: #363636;
  /* Dark gray */
  --saito-secondary: #baaaaa;
  /* Gray with warm tint */
  /* MID gray  */
  --color-base: #151515;
  /*  super dark almost black */
  --color-contrast: #dedede;
  /* off-white */
  /* Spacing and padding adjustments */
  --border-padding-style: var(--border-padding-wide);
  /*TINTS COLOR SECTION*/
  --saito-gray-mid: #f8f8f8;
  /* bright-off-white */
  --color-tint-dark: #4c4545;
  /* very dark gray */
  --color-highlight: #f71f3d;
  /* saito-red */
  /*SHADOW COLOR SECTION*/
  /* almost black, transparent */
  /*SHADOW SELECTION*/
  --shadow-primary-button: var(--shadow-shape-glow-big);
  --shadow-draggable-popup: var(--shadow-shape-glow);
  --box-shadow-sidebar-elements: var(--shadow-shape-flat);
  --shadow-chat-message-bottom: 0px 0px 0px var(--saito-bubble-shadow);
  /* flattened and centered the shadow */
  /*FONTS SECTION*/
  /*quick settings*/
  --text-decoration-switch-global: none;
  --saito-font-color-primary: var(--color-contrast);
  /* normal */
  --saito-font-color-secondary: var(--saito-secondary);
  /* bit faded */
  --saito-font-color-heavy: var(--saito-white);
  /* opposite tone of font-primary */
  /*Font Selection*/
  --font-color-paper-airplane: var(--saito-font-color-secondary);
  --font-color-emoji: var(--saito-font-color-secondary);
  --font-color-chat-popup-likes: var(--saito-font-color-primary);
  --font-color-button-chat-popup-header: var(--saito-font-color-primary);
  --saito-gray-light: var(--saito-gray-light);
  --font-color-button-hover-modal: var(--saito-font-color-heavy);
  --font-color-button-wallet-control: var(--saito-font-color-primary);
  --font-color-button-chat-container: var(--saito-font-color-primary);
  --saito-primary: var(--saito-primary);
  /* Menu and Header Font Colors */
  --font-color-menu-hamburger: var(--saito-font-color-primary);
  --saito-white: var(--saito-white);
  /* Alerts and Status Font Colors */
  --font-color-user-address: var(--saito-font-color-heavy);
  --background-color-main: var(--background-color-main);
  /* Exempt as system color */
  /* Module and Overlay Font Colors */
  --font-color-hover-module-menu: var(--saito-font-color-heavy);
  --font-color-overlay-form-text: var(--saito-font-color-primary);
  /* BORDER RADIUS */
  --border-radius-text-input: var(--border-radius-soft);
  /*chat module*/
  --border-radius-modal-menu: var(--border-radius-voluptuous);
  --border-radius-module-menu: var(--border-radius-voluptuous);
  --border-radius-overlay-menu: var(--border-radius-voluptuous);
  --border-radius-menu-hamburger: var(--border-radius-topleft-only-round);
  /*hamburger menu*/
  --border-radius-sidebar-menu: var(--border-radius-voluptuous);
  --border-radius-sidebar-chat-manager: var(--border-radius-round);
  --border-radius-chat-menu: var(--border-radius-round);
  --border-radius-chat-popup: var(--border-radius-top-only-round);
  --border-radius-chat-popup-message-tag: var(--border-radius-round);
  --border-radius-identicon: var(--border-radius-obscene);
  --border-radius-image-flex: var(--border-radius-round);
  --border-radius-selection-box: var(--border-radius-soft);
  --border-radius-button-primary: var(--border-radius-round);
  --border-radius-button-sidebar: var(--border-radius-round);
  --border-radius-button-chat-container: var(--border-radius-round);
  --border-radius-button-simple-contact: var(--border-radius-round);
  --border-radius-button-hover-simple-contact: var(--border-radius-round);
  --border-radius-button-profile: var(--border-radius-round);
  --border-radius-button-hover-profile: var(--border-radius-round);
  --border-radius-button-modal: var(--border-radius-round);
  --border-radius-button-module: var(--border-radius-round);
  --border-radius-button-wallet-control: var(--border-radius-round);
  --border-radius-profile-banner: var(--border-radius-top-only-round);
  --border-radius-calendar-hover-days: var(--border-radius-round);
  --border-radius-calendar-hover-today: var(--border-radius-round);
  --border-radius-status-message: var(--border-radius-round);
  --border-radius-sidebar-game-module: var(--border-radius-round);
  --border-radius-offset: 0.3rem;
  --border-radius-leaderboard-ranking: var(--border-radius-round);
  /* BORDER THICKNESS */
  --border-padding-qr-code: 0;
  --border-thickness-button-primary: var(--border-thickness-thin);
  --border-thickness-button-hover-primary: var(--border-thickness-thin);
  --border-thickness-identicon: var(--border-thickness-none);
  --border-thickness-qr-code: var(--border-thickness-fat); /* for contrast to be able to scan */
  /* BORDER COLORS */
  --border-color-general-dividers-dark: var(--saito-primary);
  --border-color-button-primary: var(--saito-gray-dark);
  --border-color-button-hover-primary: var(--color-contrast);
  --border-color-button-wallet-control: var(--saito-gray-dark);
  --border-color-button-modal: var(--border-color-general-dividers-dark);
  --border-color-button-module: var(--border-color-general-dividers-dark);
  --border-color-sidebar-menu: var(--color-tint-dark);
  --border-color-modal-menu: var(--color-tint-dark);
  --border-color-overlay-menu: var(--color-tint-dark);
  --border-color-overlay-subform: var(--color-tint-dark);
  --border-color-chat-menu: ;
  --border-color-identicon: var(--color-tint-dark);
  --border-color-identicon-square-profile: var(--border-color-general-dividers);
  --border-color-chat-popup-docked: var(--saito-primary);
  --border-color-selection-box: var(--color-highlight);
  --border-color-form-input-checkbox: var(--color-contrast);
  /* BACKGROUNDS */
  /* General Background Colors */
  --saito-background-color: var(--background-color-main);
  --background-color-main: #000;
  --background-color-hover-post: none;
  /* Turns it off for this theme*/
  --background-color-hover-post-preview: var(--background-color-main);
  /* solves the dark theme hover gradient problem*/
  --background-color-modal-menu: var(--color-base);
  --background-color-modal-menu-oldschool: none;
  --background-color-module-menu: var(--color-base);
  --background-color-overlay-menu: var(--color-base);
  --background-color-overlay-form-header: var(--color-base);
  --background-color-header: none;
  /* testing */
  --background-color-post: var(--color-base);
  /* Button Background Colors */
  --background-color-button-primary: none;
  --background-color-button-hover-primary: ;
  --background-color-button-sidebar-chat-active: var(--saito-primary);
  --background-color-button-hover-modal-oldschool: var(--saito-primary);
  --background-color-button-chat-popup-send: var(--background-color-main);
  /* Sidebar, Headers and Notification Colors */
  --background-color-button-hover-sidebar: var(--saito-primary);
  /* Special UI Components */
  --background-color-icon-close: var(--saito-gray-dark);
  /* Chat Related Colors */
  --background-color-chat-popup-main: var(--background-color-main);
  --background-color-chat-popup-message-self: var(--saito-primary);
  --background-color-chat-popup-message: var(--color-base);
  --background-color-chat-popup-subheader: var(--color-base);
  /* Theme Specific */
  --saito-arcade-header-background: #000;
}