html[data-theme="sangre3000"] {
  /* ====================== OLD VARIABLES SECTION ========REMOVE ONCE SAFE==== */
  --saito-primary: #b70b0b;
  --saito-primary-transparent: #b70b0b88;
  --saito-font-color: #dedede;
  --saito-font-color-heavy: #ddd;
  --saito-font-color-light: #aaa;
  --saito-font-color-inverse: #1c1c23;
  --saito-border-color: #555;
  --saito-border-color-dark: #666;
  --saito-background-color: #1f1a1b;
  --saito-background-light: #333;
  --saito-sidebar-element-background: #0003;
  --saito-gray-transparent: #88888818;
  --saito-box-shadow: 0 0 0 1px var(--saito-border-color);
  --saito-arcade-header-background: var(--saito-background-color);
  --saito-bubble-shadow: #000c;
  --saito-bubble-background: #111;
  /* ================= NEW UPDATED THEME ================== */
  /*BASE COLOR SECTION*/
  --saito-primary: #b70b0b;
  /* blood red */
  /* Gray with warm tint */
  /* MID gray  */
  --color-base: #16161d;
  /*  super dark almost black */
  --color-contrast: #aaa;
  /* off-white */
  --color-complement: var(--saito-gray-dark);
  /*TINTS COLOR SECTION*/
  --saito-gray-mid: #ddd;
  /* bright-off-white */
  --color-tint-dark: #4c4545;
  /* very dark gray */
  --color-highlight: #352c2c;
  /* newly adjusted colour for sangre3000, used in chat and more soon*/
  /*SHADOW COLOR SECTION*/
  /* almost black, transparent */
  --saito-bubble-shadow: #000000E2;
  /* slightly lightened shadow */
  /*SHADOW SELECTION*/
  --shadow-draggable-popup: var(--shadow-shape-glow);
  --box-shadow-sidebar-elements: var(--shadow-shape-flat);
  --shadow-chat-message-bottom: 0px 0px 0px var(--saito-bubble-shadow);
  /* flattened and centered the shadow */
  --shadow-overlay: 0 0 150px -60px var(--saito-primary);
  /* gives it that famous sangre glow */
  /* Spacing and padding adjustments */
  --border-padding-style: var(--border-padding-wide);
  --border-padding-overlay-post: var(--border-padding-huge);
  /*MAIN BACKGROUND COLOR SECTION*/
  --background-color-main: #1f1a1b;
  /*FONTS SECTION*/
  /*quick settings*/
  /* normal */
  --text-decoration-switch-global: none;
  --saito-font-color-primary: var(--saito-gray-mid);
  /* bright off white*/
  --saito-font-color-secondary: var(--color-contrast);
  /*  faded grey  */
  --saito-font-color-heavy: var(--saito-white);
  /* Bright! */
  --font-color-inverse: var(--background-color-main);
  /* background color */
  /*Font Selection*/
  --font-color-paper-airplane: var(--saito-font-color-secondary);
  --font-color-emoji: var(--saito-font-color-secondary);
  --font-color-chat-popup-likes: var(--saito-font-color-primary);
  --font-color-button-chat-popup-header: var(--saito-font-color-primary);
  --saito-gray-light: var(--saito-gray-light);
  --font-color-button-chat-container: var(--saito-font-color-primary);
  --saito-primary: var(--saito-primary);
  /* Menu and Header Font Colors */
  --font-color-menu-hamburger: var(--saito-font-color-heavy);
  --font-color-header-username: var(--saito-font-color-heavy);
  /* Alerts and Status Font Colors */
  --font-color-user-address: var(--saito-font-color-heavy);
  --background-color-main: var(--background-color-main);
  /* Module and Overlay Font Colors */
  --font-color-module-menu: var(--saito-font-color-secondary);
  --font-color-hover-module-menu: var(--saito-font-color-heavy);
  --font-color-overlay-form-text: var(--saito-font-color-primary);
  /* BORDER RADIUS */
  --border-radius-text-input: var(--border-radius-soft);
  /*chat module*/
  --border-radius-modal-menu: var(--border-radius-voluptuous);
  --border-radius-module-menu: var(--border-radius-voluptuous);
  --border-radius-overlay-menu: var(--border-radius-voluptuous);
  --border-radius-menu-hamburger: var(--border-radius-topleft-only-round);
  /*hamburger menu*/
  --border-radius-sidebar-menu: var(--border-radius-round);
  --border-radius-sidebar-chat-manager: var(--border-radius-round);
  --border-radius-chat-menu: var(--border-radius-round);
  --border-radius-chat-popup: var(--border-radius-top-only-round);
  --border-radius-chat-popup-message-tag: var(--border-radius-round);
  --border-radius-identicon: var(--border-radius-obscene);
  --border-radius-image-flex: var(--border-radius-round);
  --border-radius-selection-box: var(--border-radius-soft);
  --border-radius-button-primary: var(--border-radius-round);
  --border-radius-button-sidebar: var(--border-radius-round);
  --border-radius-button-chat-container: var(--border-radius-round);
  --border-radius-button-simple-contact: var(--border-radius-round);
  --border-radius-button-hover-simple-contact: var(--border-radius-round);
  --border-radius-button-profile: var(--border-radius-round);
  --border-radius-button-hover-profile: var(--border-radius-round);
  --border-radius-button-modal: var(--border-radius-round);
  --border-radius-button-module: var(--border-radius-round);
  --border-radius-button-wallet-control: var(--border-radius-round);
  --border-radius-profile-banner: var(--border-radius-top-only-round);
  --border-radius-calendar-hover-days: var(--border-radius-round);
  --border-radius-calendar-hover-today: var(--border-radius-round);
  --border-radius-status-message: var(--border-radius-round);
  --border-radius-sidebar-game-module: var(--border-radius-round);
  --border-radius-leaderboard-ranking: var(--border-radius-comfortable);
  --border-radius-offset: 0.3rem;
  /* BORDER THICKNESS */
  --border-padding-qr-code: 0;
  --border-thickness-button-primary: var(--border-thickness-thin);
  --border-thickness-button-hover-primary: var(--border-thickness-thin);
  --border-thickness-identicon: var(--border-thickness-none);
  --border-thickness-overlay-post: var(--border-thickness-fat);
  --border-thickness-overlay-menu: var(--border-thickness-fat);
  --border-thickness-modal-menu: var(--border-thickness-fat);
  --border-thickness-qr-code: var(--border-thickness-fat); /* for contrast to be able to scan */
  /* BORDER COLORS */
  --border-color-general-dividers-dark: var(--saito-primary);
  --border-color-button-wallet-control: var(--saito-gray-dark);
  --border-color-button-modal: var(--saito-gray-dark);
  --border-color-button-module: var(--saito-gray-dark);
  --border-color-sidebar-menu: var(--color-tint-dark);
  --border-color-modal-menu: var(--color-highlight);
  --border-color-module-menu: none;
  --border-color-overlay-menu: var(--color-highlight);
  --border-color-overlay-subform: var(--color-tint-dark);
  --border-color-overlay-post: var(--color-highlight);
  --border-color-chat-menu: none;
  --border-color-identicon: var(--color-contrast);
  --border-color-identicon-square: ;
  --border-color-identicon-square-profile: var(--border-color-general-dividers);
  --border-color-chat-popup-docked: var(--saito-primary);
  --border-color-selection-box: var(--saito-primary);
  --border-color-form-input-checkbox: var(--color-contrast);
  --border-color-post-input: var(--saito-gray-dark);
  /* BACKGROUNDS */
  /* General Background Colors */
  --background-color-sidebar-left: var(--saito-bubble-shadow);
  --background-color-header-menu: var(--color-base);
  --background-color-chat-module-sidebar-right-open: var(--color-base);
  --background-color-modal-menu-oldschool: none;
  --background-color-overlay-form-header: var(--color-base);
  --background-color-hover-post: none;
  /* Turns it off for this theme*/
  --background-color-hover-post-preview: var(--background-color-main);
  /* solves the dark theme hover gradient problem*/
  /* Button Background Colors */
  --background-color-button-hover-primary: ;
  --background-color-button-hover-chat-container: var(--color-base);
  --background-color-button-active-sidebar: var(--saito-primary);
  --background-color-button-sidebar-chat-active: var(--saito-primary);
  --background-color-button-hover-modal-oldschool: var(--saito-primary);
  --background-color-button-chat-popup-send: var(--background-color-main);
  /* Progress Bar */
  /* Sidebar, Headers and Notification Colors */
  --background-color-button-hover-sidebar: var(--color-base);
  /* Special UI Components */
  --background-color-icon-close: var(--saito-gray-dark);
  --background-color-hover-post-preview: var(--background-color-main);
  /* solves the dark theme hover gradient problem*/
  /* Chat Related Colors */
  --background-color-chat-popup-main: var(--background-color-main);
  --background-color-chat-popup-message-self: var(--color-highlight); /*var(--color-tint-dark);*/
  --background-color-chat-popup-message: var(--color-base); /*var(--color-highlight);*/
  --background-color-chat-popup-subheader: var(--color-base);
  /* Theme Specific */
  --saito-arcade-header-background: var(--background-color-main);
}