/*-------------------- RAVEN THEME -------------------- */

html[data-theme='raven'] {
  /*BASE COLOR SECTION*/
  --saito-background-color: #14212d;
  --saito-header-background: var(--saito-background-color);

  --saito-primary: #358ccf;
  --saito-primary-dark: #3071a6;
  --saito-secondary: #c535cf;

  /*FONTS SECTION*/
  --saito-font-color: #ddd;
  --saito-font-color-heavy: var(--saito-white);
  --saito-font-color-light: #aaa;
  --saito-font-color-inverse: var(--saito-black-heavy);

  /*TINTS COLOR SECTION*/
  --saito-highlight: #ccc1;
  --saito-highlight-heavy: #7775;

  /* BORDER COLORS */
  --saito-border-color: var(--saito-border-color-dark);
  --border-color-general-dividers: var(--saito-border-color);
  --border-color-general-dividers-dark: var(--saito-primary);
}
