/*-------------------- CLASSIC DARK THEME -------------------- */

html[data-theme='dark'] {
  /*BASE COLOR SECTION*/
  --saito-background-color: #1c1c23;
  --saito-background-color-inverse: #e2e2e6;
  --saito-header-background: var(--saito-background-color);

  --saito-surface-color: rgba(255, 255, 255, 0.04);
  --saito-surface-text: var(--saito-font-color);
  --saito-surface-hover: rgba(255, 255, 255, 0.07);
  --saito-surface-selected: rgba(255, 255, 255, 0.12);
  --saito-surface-inverse: var(--saito-background-color-inverse);
  --saito-surface-inverse-text: var(--saito-font-color-inverse);

  /*FONTS SECTION*/
  --saito-font-color: #ddd;
  --saito-font-color-heavy: var(--saito-white);
  --saito-font-color-light: #aaa;
  --saito-font-color-secondary: var(--saito-gray-500);
  --saito-font-color-inverse: var(--saito-gray-850);

  /*TINTS COLOR SECTION*/
  --saito-highlight: #ccc1;
  --saito-highlight-heavy: #8885;

  /* BORDER COLORS */
  --saito-border-color: var(--saito-border-color-dark);
  --border-color-general-dividers: var(--saito-border-color);

}
