html[data-theme="arcade"] {
  /* ====================== OLD VARIABLES SECTION =========================== */
  --saito-arcade-background: linear-gradient(-45deg, #0f0020 50%, #08000b 100%);
  --saito-primary: #639;
  --saito-primary-transparent: #6397;
  /* --dreamscape: #84a; */
  --saito-secondary: #85b;
  --saito-font-color: #dedede;
  --saito-font-color-heavy: #ddd;
  --saito-font-color-light: #aaa;
  --saito-font-color-inverse: #1c1c23;
  --saito-border: 1px solid #c5c5c5bb;
  --saito-border-color: #426;
  --saito-background-color: #180c24;
  --saito-background-light: #140a1e;
  --saito-sidebar-element-background: #0004;
  --saito-hover-background: #6395;
  /* A slightly transparent version of saito-primary, good contrast to normal background */
  --saito-gray-transparent: #88888818;
  --saito-background-shim: #0008;
  --saito-box-shadow: 0 0 0 1px var(--saito-border-color);
  --saito-bubble-shadow: #000c;
  --saito-bubble-background: #213;
  --saito-font-color-dark-modal: #efefef;
  /* ================= NEW UPDATED THEME ================== */
  /*BASE COLOR SECTION*/
  --saito-primary: #639;
  /* Dark gray */
  --saito-secondary: #85b;
  /* Gray with warm tint */
  --color-complement: var(--saito-gray-dark);
  /* MID gray  */
  --color-base: #1c1c23;
  /*  super dark almost black */
  --color-contrast: #aaa;
  /* off-white */
  /*TINTS COLOR SECTION*/
  --saito-gray-mid: #ddd;
  /* bright-off-white */
  --color-tint-dark: #3d3d3d;
  /* very dark gray */
  --color-highlight: #f71f3d;
  /* saito-red */
  /*SHADOW COLOR SECTION*/
  /* almost black, transparent */
  --color-shadow-original: 0px 12px 17px 2px #00000024, 0px 5px 22px 4px #0000001f, 0px 7px 8px -4px #00000033;
  --style-shadow-form-box: 1px 1px 5px var(--border-color-general-dividers);
  --saito-bubble-shadow: #000c;
  /*MAIN BACKGROUND COLOR SECTION*/
  --background-color-main: #180c24;
  --background-color-light: #140a1e;
  /*FONTS SECTION*/
  /*quick settings*/
  --saito-font-color-primary: var(--saito-gray-mid);
  /* normal */
  --saito-font-color-secondary: var(--saito-gray-dark);
  /*  faded grey  */
  --saito-font-color-heavy: var(--saito-white);
  /* Bright! */
  --font-color-inverse: var(--background-color-main);
  /* background colory */
  /*Font Selection*/
  --font-color-paper-airplane: var(--saito-font-color-secondary);
  --font-color-emoji: var(--saito-font-color-secondary);
  --font-color-chat-popup-likes: var(--saito-font-color-primary);
  --font-color-button-chat-popup-header: var(--saito-font-color-primary);
  --saito-gray-light: var(--saito-gray-light);
  --font-color-button-chat-container: var(--saito-font-color-primary);
  /* Menu and Header Font Colors */
  --font-color-menu-hamburger: var(--saito-font-color-heavy);
  --saito-white: var(--saito-white);
  /* Alerts and Status Font Colors */
  --font-color-user-address: var(--saito-font-color-heavy);
  --background-color-main: var(--background-color-main);
  /* Module and Overlay Font Colors */
  --font-color-overlay-form-text: var(--saito-font-color-primary);
  --font-color-button-wallet-control: var(--saito-font-color-primary);
  /* BORDER THICKNESS */
  --border-padding-qr-code: 0;
  --border-thickness-button-primary: var(--border-thickness-thin);
  --border-thickness-button-hover-primary: var(--border-thickness-thin);
  --border-thickness-qr-code: var(--border-thickness-fat); /* for contrast to be able to scan */
  /* BORDER COLORS */
  --border-color-general-dividers: var(--saito-gray-dark);
  --border-color-general-dividers-dark: var(--saito-primary);
  --border-color-button-wallet-control: var(--saito-gray-dark);
  --border-color-button-modal: var(--saito-gray-dark);
  --border-color-button-module: var(--saito-gray-dark);
  --border-color-sidebar-menu: var(--color-tint-dark);
  --border-color-modal-menu: var(--saito-primary);
  --border-color-module-menu: none;
  --border-color-overlay-subform: var(--color-tint-dark);
  --border-color-chat-menu: ;
  --border-color-identicon: var(--color-contrast);
  --border-color-identicon-square: ;
  --border-color-identicon-square-profile: var(--border-color-general-dividers);
  --border-color-chat-popup-docked: var(--saito-primary);
  --border-color-selection-box: var(--color-highlight);
  --border-color-form-input-checkbox: var(--color-contrast);
  /* BACKGROUNDS */
  /* General Background Colors */
  --background-color-sidebar-left: var(--saito-bubble-shadow);
  --background-color-modal-menu: var(--background-color-main);
  --background-color-modal-menu-oldschool: none;
  --background-color-modal-contacts: var(--background-color-main);
  --background-color-overlay-form-header: var(--color-base);
  /* Button Background Colors */
  --background-color-button-hover-primary: none;
  --background-color-button-sidebar: ;
  --background-color-button-sidebar-chat-active: var(--saito-primary);
  --background-color-button-hover-chat-container: var(--saito-primary);
  --background-color-button-simple-contact: none;
  --background-color-button-hover-simple-contact: var(--saito-primary);
  --background-color-button-profile: none;
  --background-color-button-hover-profile: var(--saito-primary);
  --background-color-button-hover-modal: none;
  --background-color-button-hover-modal-oldschool: var(--saito-primary);
  --background-color-button-chat-popup-send: var(--background-color-main);
  /* Sidebar, Headers and Notification Colors */
  --background-color-notification-status: var(--saito-primary);
  --background-color-alert-box: var(--background-color-main);
  --background-color-button-hover-sidebar: var(--saito-primary);
  /* Special UI Components */
  --background-color-camera: var(--saito-primary);
  --background-color-calendar-today: var(--saito-primary);
  --background-color-calendar-hover: var(--saito-primary);
  --background-color-icon-close: var(--saito-gray-dark);
  --background-color-form-input-checkbox-checked: var(--saito-primary);
  --background-color-form-input-range: var(--saito-primary);
  --background-color-button-mod-arcade: var(--background-color-button-sidebar);
  --background-color-leaderboard-header: var(--color-base);
  /* Chat Related Colors */
  --background-color-chat-module-sidebar-right-open: var(--background-color-main);
  --background-color-chat-popup-main: var(--background-color-main);
  --background-color-chat-popup-input: var(--background-color-main);
  /* Theme Specific */
  --saito-arcade-header-background: transparent;
}

html[data-theme="game"] {
  --saito-arcade-header-background: none; 
}


