.redsquare-settings {
  height: auto;
  max-height: 90vh;
  y-overflow: auto;
  width: 750px;
  max-width: 80vw;
}

.redsquare-settings .toggle-switch {
  right: -2rem;
  position: absolute;
  width: 300px;
  transform: scale(0.8);
}

.redquare-settings button {
  width: 195px;
}

.show-more-button {
  display: none;
}