#modtools-apps {
	display: flex;
	flex-direction: column;
	align-items: self-start;
}

#modtools-app-permissions {
	width: 40rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.add-new-permission-box {
	display: none;
}

#modtools-apps-add-new {
	max-width: 7rem;
}

.app-permission-option {
	display: flex;
	flex-wrap: initial;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.app-options-select {
	width: 11rem;
}

.modtools-addnew-permission-container .saito-grid {
	display: flex;
}

.modtools-addnew-permission-container .modtools-app-permission-dropdowns {
	display: flex;
	gap: 2rem;
}

.modtools-add-permission-actions {
	align: end;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.app-name {
	align-self: center;
}

.app-options-select {
	background: transparent;
	border: 1px solid var(--saito-primary);
	color: var(--saito-white);
	font-size: 1.6rem;
	appearance: none;
	padding: 0 1rem;
}

.app-options-select:focus {
	outline: none;
}

.app-options-select::after {
	border-left: 3px solid var(--saito-primary);
}
