:root {
  --saito-assetstore-width: 1500px;
}

.saito-container {
  padding-top: 1rem;
  grid-template-columns: 25rem auto;
}

.assetstore-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  min-height: 600px;
  row-gap: 2rem;
  /* column-gap: 3rem; */
  justify-items: center;
  align-content: start;
  padding-top: 1rem;
}

.assetstore-nft {
  height: 200px;
  width: 200px;
  background-color: green;
}

.assetstore-table-list {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

#assetstore-empty {
  display: block;
  padding-top: 10rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

#assetstore-empty span {
  font-size: 3rem;
}

#assetstore-title {
  font-size: 2rem;
  padding-top: 0.5rem;
}

#assetstore-table-title {
  font-size: 1.8rem;
}
