.post-view {
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  /*height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;*/
}

.saito-overlay .post-view {
  width: 95vw;
  height: 95vh;
  overflow: auto;
  padding: min(3rem, 5vw, 5vh);
}

.post-image-container {
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.post-header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content {
  /*height: 100%;*/
  position: relative;
}

.post-header {
  margin-bottom: 2rem;
  background: var(--saito-background-color);
  padding-bottom: 1rem;
  top: -2rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid var(--saito-border-color);
}

.post-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.post-actions {
  position: absolute;
  top: 5rem;
  right: 0;
  display: flex;
  gap: 1rem;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--saito-font-color);
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.action-button:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .post-actions {
    width: 100%;
    margin-top: 1rem;
    justify-content: flex-end;
  }
}
