

.tweet-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  border-right: 1px solid var(--saito-border-color);
  border-left: 1px solid var(--saito-border-color);
  border-bottom: 1px solid var(--saito-border-color);
}

.tweet-container .tweet-overlay .tweet-overlay-content .tweet-overlay-header {
  display: none;
}


.tweet-thread-holder {
  display: none;
}


/*****************************
 *  New Tweets Button (top of feed)
 ****************************/ 
.redsquare-load-new-tweets-container {
    position: sticky;
    height: 0;
    top: 1rem;
    z-index: 1000;
}

.saito-load-new-tweets {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    margin: 0 25%;
}


/*****************************
 *  Intersection Observer (end of feed)
 ****************************/ 
.redsquare-intersection {
	opacity: 1;
	height: 1rem;
	position: relative;
}

.intersection-observer-trigger {
	position: absolute;
	height: 10px;
	width: 100%;
	top: -50vh;
	pointer-events: none;
}



.tweet-image {
  margin-top: 8px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  grid-gap: 0.3rem;
  width: 100%;
}


.tweet img:not([src]) {
  display: none;
  visibility: hidden;
}
.tweet img[src=""] {
  display: none;
  visibility: hidden;
}
.tweet img[src="about:blank"] {
  display: none;
  visibility: hidden;
}
.tweet-curation {
  display: none;
}

.tweet-context {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--twitter-gray);
  margin-bottom: 6px;
  gap: 6px;
}

.retweet-icon {
  width: 18px;
  height: 18px;
  fill: var(--twitter-gray);
}

.tweet-preview:empty {
  display: none;
}

.tweet-retweet:empty {
  display: none;
}

.tweet-retweet {
  margin-top: 8px;
  padding: 4px;
  border: 1px solid var(--twitter-gray-darker);
  border-radius: 12px;
  background-color: var(--twitter-gray-darkest);
}

.tweet-retweet .tweet-header {
  color: #fff;
  font-weight: 700;
  margin-bottom: 6px;
}

.tweet-retweet .tweet-text {
  font-size: 14px;
  line-height: 18px;
  color: var(--twitter-gray-lighter);
  margin-bottom: 0;
}

.tweet-retweet .tweet {
  border-bottom: unset;
}

.tweet:hover {
  background-color: var(--background-color-hover-post);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* -------------------
   Base tweet styling
-------------------- */

.tweet {
  position: relative;
  padding: 12px 16px;
  border-bottom: 1px solid var(--saito-border-color);
  font-family: system-ui, sans-serif;
  color: var(--saito-font-color);
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
}


.tweet-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #aaa;
  flex-shrink: 0;
  z-index: 5;
  display: block !important;
  visibility: visible !important;
}

.tweet-body {
  overflow: hidden
  width: 100%;
  max-width: 100%;
  flex: 1;
}

.tweet-header {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 4px;
}

.tweet-header span {
  color: var(--twitter-gray);
  font-weight: normal;
}

.tweet-header .saito-user {
  display: flex;
  flex-direction: column;
  justify-items: start;
  width: 100%;
  position: relative;
  white-space: nowrap;
  row-gap: 0;
}


.tweet-header .saito-user .saito-identicon-box {
  display: none;
}

.tweet-text {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
}

.tweet-text p {
  overflow: visible;
}

.tweet-controls {
  display: flex;
  gap: 4px;
  color: var(--twitter-gray);
  font-size: 14px;
  justify-content: space-between;
}


/* -------------------------------
   TWEET DETAIL PAGE: thread-parent
-------------------------------- */

.tweet.thread-parent {
  display: flex;
  padding: 20px 16px;
  border-bottom: none;
}

.tweet.thread-parent .tweet-avatar {
  width: 56px;
  height: 56px;
  margin: 0 0 12px 0;
  display: block;
}

.tweet.thread-parent .tweet-body {
  margin-left: 1rem;
}

.tweet.thread-parent.has-reply::after {
  display: none;
}

.tweet.thread-parent .tweet-header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.tweet.thread-parent .tweet-text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}

.tweet.thread-parent .tweet-footer {
  font-size: 16px;
  gap: 20px;
  margin-top: 8px;
}

.tweet.thread-parent .tweet-image {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}


.tweet.thread-reply {
  position: relative;
}

.tweet.thread-reply::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: var(--twitter-gray);
  left: 36px;
  top: -48px;
  height: 48px;
}


@media (max-width: 1199px) {


}

@media (max-width: 768px) {
  .tweet{
    padding: 12px;
  }


  .tweet-container {
    max-width: 100%;
    height: auto;
  }
  .tweet-avatar {
    width: 40px;
    height: 40px;
  }

  .saito-load-new-tweets {
      width: 60%;
      margin: 0 22.5%;
   }

}

