.tweet.has-reply {
  border-bottom: none;
}

.tweet.has-reply:not(.highlight-tweet)::after,
.tweet.has-reply-disconnected:not(.highlight-tweet)::after {
  content: '';
  position: absolute;
  width: 0rem;
  height: 100%;
  top: 5.5rem;
  left: 3.9rem;
  z-index: 3;
  border-left: 2px dashed #718695;
}

.tweet-text {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  max-height: 19rem;
  max-width: 100%;
  margin-bottom: 1rem;
  transition: all 0.2s linear;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

/* prevent scroll bars */
.tweet-text p {
  overflow: visible;
}

/* prevent line-break */
.tweet-text p a {
  display: inline;
}

.tweet-text .saito-mention.saito-address.treated {
  font-size: inherit;
  margin: 0rem !important;
  font-style: normal;
}

.tweet-body ul li {
  list-style-position: inside;
  line-height: 2rem;
  list-style-type: disc;
  text-indent: -16px;
  padding-left: 22px;
}

.tweet-body ol li {
  list-style-position: inside;
  line-height: 2rem;
  list-style-type: decimal;
  text-indent: -16px;
  padding-left: 22px;
}

.tweet-body h1,
.tweet-body h2,
.tweet-body h3,
.tweet-body h4,
.tweet-body h5,
.tweet-body h6 {
  margin-bottom: 0rem;
  line-height: 2rem;
}

.tweet-controls {
  display: flex;
  gap: 4px;
  justify-content: space-between;

  font-size: 14px;
  color: #718695;
  padding-bottom: unset;
  margin-bottom: unset;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.tweet-controls > div.tweet-tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  min-width: 45px;
  border-radius: 1rem;
}

.tweet-controls > div.tweet-tool.tweet-tool-more.activated-dot-menu {
  transform: rotate(90deg);
}

.tweet-controls span {
  display: inline-block;
  z-index: 1;
}

.tweet-controls i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  text-align: center;
  color: inherit;
}

.tweet-menu {
  position: absolute;
  width: 28rem;
  padding: 1rem;
  border: 1px solid var(--saito-border-color); /* testing, not sure where */
  background: var(--saito-background-color);
  z-index: 1;
  font-size: 1.8rem;
}

.tweet-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-menu-list-item {
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  grid-gap: 1.5rem;
  padding: 1rem 0.5rem;
  align-items: center;
  cursor: pointer;
}

.tweet-menu-list-item i {
  justify-self: center;
  min-width: 2.4rem;
}

.tweet-tool-like-count.liked {
  color: var(--saito-red);
}

.tweet-tool-like .heart-icon {
  background: var(--saito-heart-animation);
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.tweet-tool-like .heart-icon.liked {
  animation: like-anim 0s steps(28) forwards;
}

.tweet-tool-like .heart-icon.likes {
  animation: like-anim 1.2s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.tweet-tool-like .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  width: 35px;
  display: flex;
  margin-left: -4px;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.tweet-tool-like .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.tweet td {
  text-align: center;
}

.tweet td,
.tweet th,
.tweet table {
  border: 1px solid var(--saito-border-color);
  border-collapse: collapse;
}

.tweet td,
.tweet th {
  padding: 4px min(16px, 1vw);
  white-space: nowrap;
}

.tweet-body iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border-radius: var(--saito-border-radius);
}

/*
  overrides
*/

.tweet-body {
  display: block;
}

.tweet-header .saito-user .saito-address {
  font-size: 15px;
  color: var(--saito-font-color-heavy);
  width: fit-content;
}

.tweet-retweet .tweet-header .saito-user .saito-address {
  color: var(--saito-font-color);
}

.tweet-header .saito-user .saito-userline {
  font-weight: normal;
  color: var(--saito-font-color-secondary);
  font-size: 1.4rem;
}

.tweet {
  border-top: 0px;
}

/* For overly long tweets, we crop and show that it can be expanded */

.tweet-text.preview {
  position: relative;
  padding-right: 2rem;
}

.tweet-text.preview::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  background: linear-gradient(180deg, transparent, var(--saito-background-color));
  transition: all 2s ease;
}

.tweet-text.preview:hover::after {
  font-family: FontAwesome;
  content: '\f0d7';
  position: absolute;
  bottom: 4rem;
  /* color: var(--saito-primary); */
  color: var(--font-color-post-downward-arrow);
  font-size: 5rem;
  z-index: 999;
  text-align: center;
  line-height: 2.7rem;
  padding: 0.3rem 1rem;
  border-radius: var(--saito-border-radius);
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}

.tweet-text.expanded {
  max-height: 50rem;
  overflow-y: scroll;
  padding-right: 2rem;
}

.tweet-text a {
  display: inherit;
}

.tweet .saito-treated-link[data-link='local_link'] .link-info {
  display: none;
}

.tweet .saito-treated-link[data-link='local_link'] .link-img.has-picture {
  max-height: 15rem;
}

.tweet .saito-treated-link[data-link='local_link'] .link-container {
  border-radius: var(--saito-border-radius);
  overflow: hidden;
}

/*

RS notifications

*/

.tweet.tweet-notification,
.tweet-container.active-curation .tweet-notification[data-curated='1'],
.tweet-container.active-curation .tweet-notification[data-curated='0'] {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tweet-notification:last-child {
  border: none;
}

.tweet-notification .tweet-preview {
  border: 1px solid var(--saito-border-color);
  border-radius: 12px;
  margin-top: 1rem;
}

.tweet-notification .tweet-preview .tweet {
  border-bottom: none;
}

.tweet-notification .timestamp {
  position: absolute;
  right: 0px;
}

.tweet-notification > .tweet-header .saito-user {
  position: relative;
}

.tweet-notification > .tweet-header .saito-user .saito-identicon-box {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tweet-notification > .tweet-header .saito-user .saito-identicon-box img {
  opacity: 1;
}

@media (max-width: 600px) {
  .tweet.has-reply:not(.highlight-tweet)::after,
  .tweet.has-reply-disconnected:not(.highlight-tweet)::after {
    top: 2.5rem;
    left: 3.5rem;
  }
}
