/* ----------------------------------------------------------------
Saito Table
-----------------------------------------------------------------*/

.sidebar-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saito-table-body {
  height: auto;
  grid-gap: 0.25rem;
}

.saito-table-row {
  padding: 0.5rem 0.75rem 0.5rem;
}

.saito-table-rank {
  font-family: courier, monospace;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: space-around;
}

.saito-table-header {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.6rem 1rem 0.5rem;
  width: 100%;
  text-align: center;
  color: var(--saito-font-color-heavy);
}
