
.invite-manager {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom:1rem;
}

.sidebar-header {
  font-size: 18px;
  font-weight: bold;
  color: #e7e9ea;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.saito-module.saito-game {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color-gray-transparent-light);
    background-blend-mode: soft-light;
    border-radius: var(--border-radius-soft);
    overflow: hidden;
}

.saito-module.saito-game:hover {
  transform: scale(1.02);
}

.saito-module-titlebar {
    max-width: 18rem;
    min-width: 12rem;
    width: 18rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    opacity: 0.80;
    background: #000a;
    border-radius: var(--border-radius-sidebar-game-module);
}

.saito-module-titlebar > div {
    margin: 0.25rem;
}

.saito-module-titlebar-title {
    color: #fff;
    font-size: 2rem;
}

.saito-module-titlebar-details {
    font-size: 1.2rem;
    color: #fff;
}

.saito-game-identicons {
    padding: 0.5rem;
    column-gap: 0.75rem;
    min-width: min-content;
    padding: 1rem;
}

.saito-game-details {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    color: var(--saito-white);
}

.saito-identicon-box {
  width: 36px;
  height: 36px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  flex-shrink: 0;
  background-color: #000;
}

.saito-game-identicons div {
  border: 1px solid #fff8;
}

.saito-module-identicon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1199px) {
  .invite-manager {
    padding: 8px;
  }

  .saito-module-title {
    font-size: 14px;
  }

  .saito-module-holder {
    padding: 8px;
  }

  .chat-manager-list.saito-sidebar-element {
    padding: 0.5rem;
    max-width: 70px;
    min-width: 0px;
    width: inherit;
    padding: 0.95rem;
  }

  .chat-manager-title {
    display: none !important;
  }

  .chat-manager-options {
    margin-left: auto;
    margin-right: auto;
  }

  .chat-manager-list .saito-user {
    padding: 0px;
  }

  .chat-manager-list.saito-sidebar-element .saito-user .saito-address {
    display: none;
  }
  .chat-manager-list.saito-sidebar-element .saito-user .saito-userline {
    display: none;
  }
}

