.redsquare-settings {
  height: auto;
  max-height: 90vh;
  y-overflow: auto;
  width: 750px;
  max-width: 80vw;
}

.redsquare-settings .curation-toggle-switch {
  right: -2rem;
  bottom: 1rem;
  position: absolute;
  width: 300px;
  transform: scale(0.8);
}
.redquare-settings button {
  width: 195px;
}

.curation-toggle-switch {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 999px;
  background: var(--background-color-gray-transparent-light);
  border: 1px solid var(--saito-border-color, #444);
  overflow: hidden;
  font-size: 0.9rem;
  user-select: none;
  padding: 2px;
}

.curation-toggle-switch::before {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: calc(70% - 4px);
  background: var(--saito-primary, #639);
  border-radius: 999px;
  z-index: 0;
  transition: left 0.3s ease;
  left: 2px; /* initial position */
}

.curation-toggle-option {
  min-width: auto !important;
  width: auto !important;
  padding: 10px 0 !important;
  background: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  transition:
    flex-basis 0.3s ease,
    color 0.25s ease;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
}

.curation-toggle-option:hover {
  border: 0;
  color: transparent;
}

.curation-toggle-switch .curation-toggle-option.active {
  flex-basis: 70% !important;
  color: #fff;
}

.curation-toggle-switch .curation-toggle-option:not(.active) {
  color: transparent;
}

.curation-toggle-switch.active-left::before {
  left: 2px;
  width: calc(70% - 4px);
}

.curation-toggle-switch.active-right::before {
  left: calc(30% + 2px);
  width: calc(70% - 4px);
}

/*****************************
 * CSS - based curation 
 ****************************/
.tweet-container.active-curation .tweet {
  display: none;
}

.tweet-container.active-curation .tweet[data-curated='1'] {
  display: grid;
}

.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='0'])::after {
  display: none;
}
.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='-1'])::after {
  display: none;
}
.tweet-container.active-curation
  .tweet.has-reply-disconnected:has(+ .tweet[data-curated='0'])::after {
  display: none;
}
.tweet-container.active-curation
  .tweet.has-reply-disconnected:has(+ .tweet[data-curated='-1'])::after {
  display: none;
}

.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='0']) {
  border-bottom: var(--border-thickness-post-divider) solid var(--border-color-post-divider);
}
.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='-1']) {
  border-bottom: var(--border-thickness-post-divider) solid var(--border-color-post-divider);
}
.tweet-container.active-curation .tweet.has-reply-disconnected:has(+ .tweet[data-curated='0']) {
  border-bottom: var(--border-thickness-post-divider) solid var(--border-color-post-divider);
}
.tweet-container.active-curation .tweet.has-reply-disconnected:has(+ .tweet[data-curated='-1']) {
  border-bottom: var(--border-thickness-post-divider) solid var(--border-color-post-divider);
}

.show-more-button {
  display: none;
}

.tweet-container.active-curation.thread-view + .show-more-button {
  display: block;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
}
