html[data-theme='lite'] {
  --saito-header-color: var(--saito-red);
  --saito-header-background: var(--saito-background-color);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 1.33;
  color: var(--saito-font-color);
  background: var(--saito-background-color);
}

#saito-header {
  border-bottom: 1px solid var(--saito-border-color);
}

/* Keep baseline grid structure, but adjust sizing for column layout */
.saito-container {
  max-height: 100vh;
  grid-template-columns: 27rem 62rem 31rem;
  column-gap: 0;
}

.saito-sidebar {
  width: 100%;
  padding: 12px;
}

.saito-sidebar.left {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.saito-sidebar.right {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chat-manager-list.saito-sidebar-element {
  border: 1px solid var(--border-color-sidebar-menu);
  background: var(--saito-background-color);
}

@media (max-width: 1200px) {
  :root {
    --saito-width: 100rem;
  }

  .saito-container {
    grid-template-columns: 8rem 1fr 30rem;
  }

  .saito-sidebar.left {
    align-items: center;
  }

  .saito-sidebar.left .redsquare-menu .item span {
    display: none;
  }

  .tweet-button {
    width: 52px;
    min-width: unset;
  }
}

@media (max-width: 820px) {
  :root {
    --saito-width: 70rem;
  }

  .saito-container {
    grid-template-columns: 8rem 1fr;
  }

  .saito-sidebar.left {
    padding-left: 0;
  }

  .saito-sidebar.right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .saito-container {
    grid-template-columns: minmax(20rem, 1fr);
    padding: 0;
  }

  .saito-sidebar.left {
    display: none;
    visibility: hidden;
  }
}
