.redsquare-settings {
  height: auto;
  max-height: 90vh;
  y-overflow: auto;
  width: 750px;
  max-width: 80vw;
}

.redsquare-settings .toggle-switch {
  right: -2rem;
  position: absolute;
  width: 300px;
  transform: scale(0.8);
}

.redquare-settings button {
  width: 195px;
}

/*****************************
 * CSS - based curation 
 ****************************/

.tweet-container .tweet[data-curated='-1'] {
  /* Never show blacklisted tweets */
  display: none;
}

.tweet-container.active-curation .tweet {
  /* Hide all tweets when curated... */
  display: none;
}

.tweet-container.active-curation .tweet[data-curated='1'],
.tweet-container.active-curation .tweet[data-source-type='server-cache'] {
  /* ... except for positively marked ones */
  display: grid;
}

/* Hide critical child reply! */
.tweet-container.active-curation .tweet.has-reply[data-curated='0'] + .tweet,
.tweet-container.active-curation .tweet.has-reply[data-curated='-1'] + .tweet {
  display: none;
}

/* Remove connecting lines */
.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='0'])::after {
  display: none;
}
.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='-1'])::after {
  display: none;
}

.tweet-container.active-curation
  .tweet.has-reply-disconnected:has(+ .tweet[data-curated='0'])::after {
  display: none;
}
.tweet-container.active-curation
  .tweet.has-reply-disconnected:has(+ .tweet[data-curated='-1'])::after {
  display: none;
}

/* Remove border */
.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='0']) {
  border-bottom: 1px solid var(--saito-border-color);
}
.tweet-container.active-curation .tweet.has-reply:has(+ .tweet[data-curated='-1']) {
  border-bottom: 1px solid var(--saito-border-color);
}
.tweet-container.active-curation .tweet.has-reply-disconnected:has(+ .tweet[data-curated='0']) {
  border-bottom: 1px solid var(--saito-border-color);
}
.tweet-container.active-curation .tweet.has-reply-disconnected:has(+ .tweet[data-curated='-1']) {
  border-bottom: 1px solid var(--saito-border-color);
}

/*******************
 * Server polling...
 *  
 * ******************/

.tweet-container.active-curation .tweet[data-check='1'][data-curated='0'] {
  display: grid;
  background: rgba(255, 0, 0, 0.25);
}

.tweet-container.active-curation .tweet[data-check='1'] .tweet-controls {
  display: none;
}

.tweet-container .tweet .tweet-curation-controls {
  display: none;
}

.tweet-container.active-curation .tweet[data-check='1'] .tweet-curation-controls {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.tweet-curation-controls .tweet-tool.saito-button-secondary {
  min-width: unset;
  padding: 1rem;
  max-width: 10rem;
  flex-grow: 1;
}

#approve-tweet.tweet-tool.saito-button-secondary {
  color: var(--saito-green);
  border-color: var(--saito-green);
}

#approve-tweet.tweet-tool.saito-button-secondary:hover {
  background: var(--saito-green);
  color: var(--saito-black);
}

#hide-spam.tweet-tool.saito-button-secondary {
  color: var(--saito-red);
  border-color: var(--saito-red);
}

#hide-spam.tweet-tool.saito-button-secondary:hover {
  background: var(--saito-red);
  color: var(--saito-black);
}

/***************************
 *  Expand filtered comments
 * **************************/

.show-more-button {
  display: none;
}

.tweet-container.active-curation.thread-view + .show-more-button {
  display: block;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
}
