.selection-box-tabs {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.tweet-overla .selection-box-tabs {
  justify-content: start;
}

.saito-box-tab {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.saito-box-tab:hover {
  background-color: var(--saito-primary);
  color: var(--saito-white);
}

.saito-mentions-list:empty {
  display: none;
}

.tweet-overlay-content {
  display: flex;
  flex-direction: column;
}

.tweet-overlay-content .tweet-overlay-header {
  order: 1;
}

.tweet-overlay-content .saito-input {
  order: 2;
}

.saito-overlay .saito-input-large {
  margin-bottom: 0rem;
}

.redsquare-settings {
  width: 80vw;
  height: auto;
  max-height: 90vh;
  y-overflow: auto;
  max-width: 750px;
}

.redsquare-settings .curation-toggle-switch {
  right: -2rem;
  position: absolute;
  width: 300px;
  transform: scale(0.8);
}
.redquare-settings button {
  width: 195px;
}

.gif-icon {
  height: 38px;
  width: 37px;
  line-height: 4.6rem;
}

.saito-overlay .selection-box-tabs i {
  font-size: 2.5rem;
}

@media screen and (max-width: 660px) {
  .gif-icon svg {
    height: 2.6rem;
    width: 2.6rem;
  }
}
