.tweet.has-reply {
  border-bottom: none;
}

.tweet.has-reply:not(.highlight-tweet)::after,
.tweet.has-reply-disconnected:not(.highlight-tweet)::after {
  content: '';
  position: absolute;
  width: 0rem;
  height: 100%;
  top: 5.5rem;
  left: 3.7rem;
  z-index: 3;
  border-left: 5px dotted var(--saito-gray-dark);
}

.tweet-text {
  padding: 0.5rem 0;
  line-height: 2.2rem;
  max-height: 17.7rem;
  max-width: 100%;
  margin-bottom: 1rem;
  transition: all 0.2s linear;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.tweet-text .saito-mention.saito-address.treated {
  color: var(--saito-primary);
  font-style: normal;
  font-size: 1.6rem;
  margin: 0rem !important;
}

.tweet-text .saito-mention.saito-address.treated:hover {
  color: var(--saito-primary);
}

.tweet-body ul li {
  list-style-position: inside;
  line-height: 1.5rem;
  list-style-type: disc;
  text-indent: -16px;
  padding-left: 22px;
}

.tweet-body ol li {
  list-style-position: inside;
  line-height: 1.5rem;
  list-style-type: decimal;
  text-indent: -16px;
  padding-left: 22px;
}

.tweet-body h1,
.tweet-body h2,
.tweet-body h3,
.tweet-body h4,
.tweet-body h5,
.tweet-body h6 {
  margin-bottom: 0rem;
  line-height: 1.2em;
}

.tweet-controls > div.tweet-tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  cursor: pointer;
  color: var(--saito-font-color-secondary);
  width: 45px;
}

.tweet-controls > div.tweet-tool:hover {
  transform: scale(1.05);
  color: var(--saito-font-color-heavy);
}

.tweet-controls > div.tweet-tool.tweet-tool-more {
  transition: transform 0.3s;
}
.tweet-controls > div.tweet-tool.tweet-tool-more:hover,
.tweet-controls > div.tweet-tool.tweet-tool-more.activated-dot-menu {
  transform: rotate(90deg);
}

.tweet-tool-more {
  position: relative;
}

.tweet-controls span {
  display: inline-block;
  font-weight: bold;
  z-index: 1;
}

.tweet-controls i {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-align: center;
}

.tweet-menu {
  position: absolute;
  width: 28rem;
  padding: 1rem;
  border: 1px solid var(--saito-border-color); /* testing, not sure where */
  background: var(--saito-background-color);
  z-index: 1;
  font-size: 1.8rem;
}

.tweet-menu ul.saito-menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-menu-list-item {
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  grid-gap: 1.5rem;
  padding: 1rem 0.5rem;
  align-items: center;
  cursor: pointer;
}

.tweet-menu-list-item:hover {
  color: var(--saito-primary);
}

.tweet-menu-list-item i {
  justify-self: center;
  min-width: 2.4rem;
}

.tweet-tool-like .heart-icon {
  background: var(--saito-heart-animation);
  cursor: pointer;
  position: absolute;
  width: 55px;
  height: 55px;
  background-size: cover;
}

.tweet-tool-like:hover .heart-icon {
  animation: like-anim 0s steps(28) forwards;
}

.tweet-tool-like .heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.tweet-tool-like .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  width: 49px;
  display: flex;
  margin-left: -4px;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.tweet-tool-like .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.tweet td {
  text-align: center;
}

.tweet td,
.tweet th,
.tweet table {
  border: 1px solid var(--saito-border-color);
  border-collapse: collapse;
}

.tweet td,
.tweet th {
  padding: 4px 16px;
}

.tweet-body iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

@media screen and (max-width: 1199px) {
  .tweet-picture {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

/*
  overrides
*/

.tweet-body {
  display: block;
}

.tweet-header .saito-user .saito-address {
  font-size: 15px;
  color: var(--saito-font-color);
}

.tweet-retweet .tweet-header .saito-user .saito-address {
  color: var(--twitter-gray-light);
}

.tweet-header .saito-user .saito-userline {
  font-weight: normal;
  color: var(--twitter-gray);
  font-size: 1.4rem;
}

.tweet-controls {
  font-size: 14px;
  color: var(--saito-font-color-secondary);
}

.tweet-controls i {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.tweet {
  border-top: 0px;
}

.tweet-controls {
  font-size: 14px;
  color: var(--saito-font-color-secondary);
  padding-bottom: unset;
  margin-bottom: unset;
}

/* For overly long tweets, we crop and show that it can be expanded */

.tweet-text.preview {
  position: relative;
  padding-right: 2rem;
}

.tweet-text.preview::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  background: linear-gradient(180deg, transparent, var(--saito-background-color));
  transition: all 2s ease;
}

.tweet-text.preview:hover::after {
  font-family: FontAwesome;
  content: '\f0d7';
  position: absolute;
  bottom: 4rem;
  /* color: var(--saito-primary); */
  color: var(--font-color-post-downward-arrow);
  font-size: 5rem;
  z-index: 999;
  text-align: center;
  line-height: 2.7rem;
  padding: 0.3rem 1rem;
  border-radius: var(--saito-border-radius);
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}

.tweet-text.expanded {
  max-height: 50rem;
  overflow-y: scroll;
  padding-right: 2rem;
}

.tweet-text a {
  display: inherit;
}

/*

RS notifications

*/

.tweet-notification {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tweet-notification:last-child {
  border: none;
}

.tweet-notification .tweet-preview {
  border: 1px solid var(--saito-border-color);
  border-radius: 12px;
  margin-top: 1rem;
}

.tweet-notification .tweet-preview .tweet {
  border-bottom: none;
}

.tweet-notification .timestamp {
  position: absolute;
  right: 0px;
}

.tweet-notification > .tweet-header .saito-user {
  position: relative;
}

.tweet-notification > .tweet-header .saito-user .saito-identicon-box {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tweet-notification > .tweet-header .saito-user .saito-identicon-box img {
  opacity: 1;
}
