.saito-profile {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 600px;
	border: 1px solid var(--saito-border-color);
	border-top: none;
}

.saito-profile > .saito-profile-controls {
	display: none;
}

.saito-profile-description.can-edit.empty .saito-description-edit {
	border-bottom: 1px dashed;
	width: fit-content;
	margin-left: 1rem;
	color: var(--saito-border-color);
	font-weight: bold;
}

.saito-profile-description.can-edit .saito-profile-description p {
	font-size: 1.5rem;
	padding-right: 1.5rem;
}
