body {
    font-size: 1.6rem;
}
#saito-container {
    position: relative;
    column-gap: unset;
}

.saito-sidebar.right {
    margin: unset;
    height: auto;
}

.tweet-body {
    display: block;
}

.tweet-header .saito-user .saito-address {
    font-size: 15px;
}

.tweet-header .saito-user .saito-userline {
    font-size: 1.4rem;   
}

.tweet-controls {
    font-size: 14px;
    color: var(--font-color-post-controls);
}

.tweet-controls i {
    font-size: 1.5rem;
    margin: 0 1rem;
}

.tweet {
    border-top: 0px;
}

.tweet-controls {
    font-size: 14px;
    color: var(--font-color-post-controls);
    padding-bottom: unset;
    margin-bottom: unset;
}

.chat-manager .saito-user {
    background: var(--background-color-alert-box);  
}

#tweet-overlay {
    background: var(--background-color-alert-box);
}

.post-tweet-textarea {
    background: var(--background-color-alert-box);
    font-size: 1.6rem;
}

#qrcode img, .qrcode img {
    visibility: inherit;
}

.wallet-btn {
    font-size: 1.6rem;
}

.selection-box-tabs i {
    font-size: 2.5rem;
}


.post-tweet-img-preview-container {
    position: absolute;
    left: 19.5rem;
    bottom: 1.1rem;
    width: calc(100% - 42rem);
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;

}

.saito-input-large  {
    margin-bottom: 0rem;
}

#tweet-overlay {
    max-width: none;
}

.gif-icon {
    height: 38px;
    width: 37px;
    line-height: 0rem;
}

.post-tweet-img-preview-container {
    border: none;
}

.post-tweet-textarea:focus {
    background: var(--background-color-gray-transparent-light);
    box-shadow: inset 0 0 0 2px var(--background-color-button-hover-chat-container);
}