
.curation-toggle-switch {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 999px;
  background: #222;
  border: 1px solid var(--saito-border-color, #444);
  overflow: hidden;
  font-size: 0.9rem;
  user-select: none;
  padding: 2px;
}

.curation-toggle-switch::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: calc(70% - 4px);
  background: var(--background-color-button-primary, #639);
  border-radius: 999px;
  z-index: 0;
  transition: left 0.3s ease;
  left: 2px; /* initial position */
}

.curation-toggle-option {
  min-width: auto !important;
  width: auto !important;
  padding: 10px 0 !important;
  background: transparent;
  color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  transition: flex-basis 0.3s ease, color 0.3s ease;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
}

.curation-toggle-option:hover {
  border: 0;
  color: transparent;
}

.curation-toggle-switch .curation-toggle-option.active {
  flex-basis: 70% !important;
  color: #fff;
}

.curation-toggle-switch .curation-toggle-option:not(.active) {
  flex-basis: 30% !important;
  color: transparent;
}

.curation-toggle-switch.active-left::before {
  left: 2px;
  width: calc(70% - 4px);
}

.curation-toggle-switch.active-right::before {
  left: calc(30% + 2px);
  width: calc(70% - 4px);
}


