.saito-end-of-redsquare {
	padding: 1rem;
	text-align: center;
}

.redsquare-intersection {
	opacity: 1;
	height: 1rem;
	position: relative;
}

.intersection-observer-trigger {
	position: absolute;
	height: 10px;
	width: 100%;
	top: -50vh;
	pointer-events: none;
}

.intersection-observer-trigger.deactivated {
	display: none;
}