#tweet-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 600px;
  min-width: 600px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}

.post-tweet-textarea {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 16px;
  font-size: 1rem;
  resize: none;
  box-shadow: inset 0 0 0 1px #ddd;
  background: #f9f9f9;
  transition: background 0.3s ease;
}

.post-tweet-textarea:focus {
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 2px #29a399;
}

.post-tweet-img-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.post-tweet-img-preview-container img {
  max-width: 100px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.post-tweet-button {
  align-self: flex-end;
  padding: 10px 35px;
  color: #fff;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-tweet-button:hover {
  /*background-color: #208276;*/
}

.selection-box-tabs {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.tweet-overla .selection-box-tabs {
  justify-content: start;
}

.saito-box-tab {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.saito-box-tab:hover {
  background-color: #f0f0f0;
}

.saito-mentions-list:empty {
  display: none;
}

.tweet-overlay-content {
  display: flex;
  flex-direction: column;
}

.tweet-overlay-content .tweet-overlay-header {
  order: 1;
}

.tweet-overlay-content .saito-input {
  order: 2;
}


.saito-overlay .saito-input-large {
    margin-bottom: 0rem;
}

.redsquare-settings {
  width: 80vw;
  height: auto;
  max-height: 90vh;
  y-overflow: auto;
  max-width: 750px;
}

.redsquare-settings .curation-toggle-switch {
  right: -2rem;
  position: absolute;
  width: 300px;
  transform: scale(0.8);
}
.redquare-settings button {
  width: 195px;
}


.gif-icon {
    height: 38px;
    width: 37px;
    line-height: 4.8rem;
}

.saito-overlay .selection-box-tabs i {
  font-size: 2.5rem;
}
