.league-leaderboard {
	height: 100%;
}

.league-leaderboard .saito-table {
	display: grid;
	grid-template-rows: min-content minmax(0, 1fr);
	height: 100%;
}

/* To prevent expansion of sparse league tables and collapsing in populated ones, need a fixed height */
.league-leaderboard .saito-table-body {
	grid-template-rows: repeat(auto-fit, 3.2rem);
}

.league-leaderboard .saito-table-header,
.league-leaderboard .saito-table-row {
	grid-template-columns: 4rem auto 5rem 5rem 5rem;
	padding: 6px;
	padding-right: 12px;
}

.league-leaderboard .saito-table-header {
	text-align: center;
	border-bottom: 1px solid var(--border-color-general-dividers);
	position: sticky;
	top: 0px;
	z-index: 3;
}

.leaderboard-updating-msg {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem;
	border: 1px solid var(--saito-border-color);
	transform: translate(-50%, -50%);
	background: var(--saito-primary);
	border-radius: var(--saito-border-radius);
}

.league-score-header {
	text-decoration: underline dashed;
	cursor: help;
}

.saito-table-row.league-leaderboard-ranking {
	border-radius: var(--saito-border-radius);
	background: none;
}

.my-leaderboard-position {
	border: var(--border-thickness-thin) solid var(--saito-border-color);
}

.my-leaderboard-position > div:first-child {
	font-size: 0;
}

.my-leaderboard-position > div:first-child::before {
	content: '\22B3';
	font-size: 1.5rem;
}

.league-rankings .saito-table {
	padding: 1rem;
	border: 1px solid var(--saito-border-color);
	background: var(--saito-background-color);
}

.league-rankings {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	user-select: none;
}
