@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 600px) {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -75%);
    }
  }
}
