.saito-main {
  width: 100%;
  position: relative;
}

.sidebar-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  min-height: 40px;
  color: var(--saito-font-color-heavy);
  text-transform: uppercase;
  font-family: var(--saito-font);
}

.sidebar-header > div {
  width: fit-content;
  cursor: pointer;
  transition: transform 0.4s;
}

.sidebar-header > div.sidebar-title {
  cursor: default;
}