{
  "env": {
    "development": {
      "presets": ["@babel/preset-env"],
      "plugins": ["babel-plugin-add-module-exports"]
    },
    "production": {
      "presets": ["@babel/preset-env"],
      "plugins": ["babel-plugin-add-module-exports"]
    }
  }
}
