.main {
	background-image: url(/saito/img/tiled-logo.svg);
	background-color: var(--saito-background-color);
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.withdraw-container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	max-height: 90vh;
	gap: 1rem;
	margin: 1rem;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	border: 1px solid var(--saito-border-color);
	padding: 7rem;
	background: linear-gradient(135deg, #0008, #0000);
}

.withdraw-intro {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-top: 2rem;
}

.withdraw-form-fields {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
	margin: 2rem;
}

input[type='text'] {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #888a;
}

.saito-overlay-form-content {
	font-size: 1.8rem;
	line-height: 2.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	flex-grow: 1;
}

.saito-crypto-deposit-container {
	min-height: 52rem;
}

.saito-progress-meter {
	position: relative;
	display: flex;
	height: 3rem;
	width: 100%;
	color: var(--saito-primary-text);
	background: var(--saito-highlight);
	border: 1px solid var(--saito-border-color);
	border-radius: var(--border-radius-round);
	overflow: hidden;
}

.saito-crypto-deposit-container .game-loader-spinner {
	margin: 10rem auto;
}
