
.combat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.my-creatures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.combat-overlay .card {
  width: 120px;
  height: 170px;
  margin: 10px;
  transition: all 0.15s ease;
  cursor: pointer;
}

.combat-overlay .confirm-attack {
  color: white;
  background: crimson;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  transition: background 0.15s;
}

.combat-overlay .confirm-attack:hover {
  background: #ff6060;
}

