

.cardbox-card img {
  width: inherit;
}



.controls .game-cardgrid .card {
  position: relative;
  display: inline-block;
}

.controls .game-cardgrid .card img {
  display: block;
}

.controls .game-cardgrid .card:has(.cancel_x)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/realms/img/cancel_x.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

