.saito-progress-bar-container{
	background: var(--saito-primary);
	width: 75%;
	margin: 0 12.5%;
	height: 3rem;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	background-size: 400% auto;
	position: absolute;
    /*z-index: 999;  z-index governed by redsquare-progress-banner */
    border-radius: var(--border-radius-soft);
    border: var(--border-thickness-thin) solid var(--saito-background-color);
	top: 0.75rem;
}

.saito-progress-bar-container.active{
	animation: shimmer 3s infinite alternate ease-in-out;
}

.saito-progress-bar {
	color: var(--color-base);
	text-shadow: 1px 1px 1px var(--saito-black);
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes shimmer {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 99% 99%;
	}
}

