/*
link preview
*/

.link-preview {
  /*margin: 1rem 0;*/
  white-space: normal;
}

.link-img {
  width: 100%;
  max-height: 2rem;
  border-top-left-radius: var(--saito-border-radius);
  border-top-right-radius: var(--saito-border-radius);
  border: 1px solid var(--saito-border-color);
  border-bottom: none;
  overflow: hidden;
  display: flex;
}

.link-img.has-picture {
  max-height: 25rem;
}

.link-img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}

.link-info {
  padding: 2rem;
  border: 1px solid var(--saito-border-color);
  border-radius: var(--saito-border-radius);
  border-top: none;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
  overflow-wrap: anywhere;
  color: var(--saito-font-color);
  font-size: 1.5rem;
  background-color: color-mix(in srgb, var(--saito-gray-700) 27%, transparent);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.link-title {
  font-size: 1.8rem;
}

.link-display_url {
  color: var(--saito-font-color-secondary);
  font-style: italic;
  font-size: 1.3rem;
}

.link-preview a {
  white-space: normal;
}
