/* ----------------------------------------------------------------
Saito Table
-----------------------------------------------------------------*/

.saito-table-body {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fill, minmax(0, min-content));
  grid-gap: 0.75rem;
  width: 100%;
  position: relative;
  border-radius: 0.1rem;
  max-height: 100%;
  height: fit-content;
  position: relative;
  overflow-y: auto;
  min-height: 2rem;
}

.saito-table-row {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.5rem;
  padding: 0.6rem 1rem 0.5rem;
  background: var(--saito-highlight);
}

.saito-table-row:hover {
  background: var(--saito-highlight-heavy);
}

.saito-table-rank {
  font-family: courier, monospace;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: space-around;
}

.saito-table-header {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.6rem 1rem 0.5rem;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: var(--saito-font-color-heavy);
  background: var(--saito-highlight-heavy);
}

.saitox-table {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(3rem, 1fr));
  grid-template-columns: repeat(5, minmax(max-content, 1fr));

  font-size: 1.5rem;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius-sharp);
  max-height: 100%;
  height: fit-content;
  position: relative;
  overflow-y: auto;
  min-height: 2rem;
  align-items: center;
}

.saitox-table > div {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Right Justify */
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--saito-border-color-light);
  min-height: 3rem;
}

.saitox-header-item {
  text-align: center;
  text-transform: capitalize;
  color: var(--saito-font-color-heavy);
  background: var(--saito-highlight-heavy);
  font-family: var(--saito-font-medium);
}

.saitox-table-break {
  grid-column: span 5;
  width: 100%;
  justify-content: flex-start !important;
  font-style: italic;
}

.crypto-timestamp {
  font-family: var(--saito-font-monospace);
}
