.saito-nft-overlay-container {
  width: min(90vw, 900px);
  height: 85vh;
  max-height: 90vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}

/* HEADER */
.saito-nft-overlay.header {
  padding: 14px 18px;
  border-bottom: 1px solid #aaa4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saito-nft-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.saito-nft-header-left .saito-identicon-box {
  height: 4.5rem;
  width: 4.5rem;
}

.saito-nft-header-title {
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 2px;
}

.saito-nft-header-sub {
  font-size: 1.7rem;
  color: var(--saito-font-color);
}

.saito-nft-header-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 36px;
  opacity: 0.6;
}
.saito-nft-header-btn:hover { opacity: 1; }
.saito-nft-header-btn.rotate {
  transform: rotate(90deg);
  transform-origin: center;
}

/* PANELS WRAPPER */
.saito-nft-overlay.panels {
  flex: 1;
  position: relative;
  min-height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.saito-nft-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  transition: transform 0.35s ease;
  background: var(--saito-background-color);
}

.saito-nft-panel-view {
  transform: translateX(0);
}

/* SEND PANEL (right) */
.saito-nft-panel-send ,
.saito-nft-panel-info ,
.saito-nft-panel-split ,
.saito-nft-panel-merge ,
.saito-nft-panel-enable ,
.saito-nft-panel-disable
{
  transform: translateX(100%);
}

.saito-nft-overlay.panels.saito-nft-mode-send .saito-nft-panel-view , 
.saito-nft-overlay.panels.saito-nft-mode-merge .saito-nft-panel-view , 
.saito-nft-overlay.panels.saito-nft-mode-split .saito-nft-panel-view , 
.saito-nft-overlay.panels.saito-nft-mode-info .saito-nft-panel-view 
{
  transform: translateX(-100%);
}

.saito-nft-overlay.panels.saito-nft-mode-send .saito-nft-panel-send , 
.saito-nft-overlay.panels.saito-nft-mode-merge .saito-nft-panel-merge , 
.saito-nft-overlay.panels.saito-nft-mode-split .saito-nft-panel-split , 
.saito-nft-overlay.panels.saito-nft-mode-info .saito-nft-panel-info
{
  transform: translateX(0);
}


.saito-nft-panel-view , .saito-nft-panel-split ,
.saito-nft-panel-view , .saito-nft-panel-merge {
  display: grid;
  grid-template-rows: 1fr min-content;
  max-height: 100%;
}

.saito-nft-panel-view , .saito-nft-panel-send {
  display: grid;
  grid-template-rows: 1fr min-content;
  max-height: 100%;
}

.saito-nft-panel-send .saito-nft-panel-body , .saito-nft-panel-split .saito-nft-panel-body , .saito-nft-panel-merge .saito-nft-panel-body {
  padding: 1rem;
}
.saito-nft-panel-body.nft-creator .textarea-container {
  padding: 2rem;
  height: 100%;
  width: 100%;
}
.saito-nft-panel-body.nft-creator .textarea-container .saito-app-upload {
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.saito-nft-panel-body.nft-creator .textarea-container .nft-image-preview {
  height: inherit;
  width: inherit;
}

.saito-nft-panel-info {
    display: grid;
    grid-template-rows: 1fr min-content;
    max-height: 100%;
}

.saito-nft-panel-view .saito-nft-panel-body {
    display: grid;
    grid-template-rows: 1fr min-content;
    max-height: 100%;
}


.saito-nft-panel-body {
  display: grid;
  grid-template-rows: max-content min-content 1fr;
  overflow: hidden;
}


.saito-nft-image {
  flex: 1 1 auto;
  /* max-height: calc(80vh - 200px); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.saito-nft-image img {
  width: auto;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.saito-nft-header-text {
  width: max-content;
  max-width: 100%;
}
.saito-nft-description {
  font-size: 14px;
  color: var(--saito-font-color);
  line-height: 1.4;
  max-width: 100%;
  max-height: 30vh;
  overflow-y: auto;
  padding: 1rem;
  height: 100%;
}

.saito-nft-panel-footer {
  display: flex;
  gap: 12px;
  justify-content: end;
}

.saito-nft-footer-btn {
  flex: 1;
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  max-width: 20rem;
}

.saito-nft-back-btn {
}


/* FORM ELEMENTS */
.saito-nft-input-label {
  font-size: 13px;
  margin: 12px 0 6px;
}

.saito-nft-input-field {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: max-content;
}

.saito-nft-mode-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.saito-nft-text {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-family: monospace;
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  overflow-y: auto;
  white-space: pre;
  color: var(--saito-white);
  background: var(--saito-black);
  height: 100%;
  font-size: 1.75rem;
}

.saito-nft-split-container {
  width: 60%;
}

#nft-details-split-bar {
  width: 100%;
  position: relative;
}

.fancy-slider-bar {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.split-half {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saito-nft-split-utxo {
  display: flex;
  flex-direction: column;
}

.nft-details-split-utxo {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.utxo-split-btn {
  cursor: pointer;
}

.split-bar {
  width: 10px;
  height: 5rem;
  background: #444;
  cursor: ew-resize;
  position: relative;
  z-index: 10;
}

/* Draggable grip effect */
.split-bar::before,
.split-bar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 10px;
  height: 2px;;
  background: #999;
  border-radius: 3px;
  transform: translateX(-50%);
}

.split-bar::before {
  top: 45%;
}

.split-bar::after {
  top: 55%;
}


.create-nft-btn-row {
  display: flex;
  align-items: center;
}

.create-nft-help-link {
  max-width: 11rem;
  border-bottom: 2px dotted;
  cursor: pointer;
  white-space: nowrap;
  width: max-content;
}

.create-nft-btn-row .saito-button-row {
  margin-top: 0rem;
}

.create-nft-help-overlay {
  height: auto;
  width: 55rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
}

.create-nft-help-text {
  line-height: 2.5rem;
}

.create-nft-deposit-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

