/* ----------------------------------------------------------------
font imports
-----------------------------------------------------------------*/
@font-face {
  font-family: 'visuelt-black';
  src: url('/saito/fonts/visuelt-black.eot');
  src:
    url('/saito/fonts/visuelt-black.eot?#iefix') format('embedded-opentype'),
    url('/saito/fonts/visuelt-black.woff2') format('woff2'),
    url('/saito/fonts/visuelt-black.woff') format('woff'),
    url('/saito/fonts/visuelt-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visuelt-light';
  src: url('/saito/fonts/visuelt-light.eot');
  src:
    url('/saito/fonts/visuelt-light.eot?#iefix') format('embedded-opentype'),
    url('/saito/fonts/visuelt-light.woff2') format('woff2'),
    url('/saito/fonts/visuelt-light.woff') format('woff'),
    url('/saito/fonts/visuelt-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visuelt-medium';
  src: url('/saito/fonts/visuelt-medium.eot');
  src:
    url('/saito/fonts/visuelt-medium.eot?#iefix') format('embedded-opentype'),
    url('/saito/fonts/visuelt-medium.woff2') format('woff2'),
    url('/saito/fonts/visuelt-medium.woff') format('woff'),
    url('/saito/fonts/visuelt-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'p-word';
  src: url('/saito/fonts/password.ttf') format('truetype');
}

@font-face {
  font-family: 'digital-7';
  src: url('/saito/fonts/digital-7.mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'digital-7';
  src: url('/saito/fonts/digital-7.mono.italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

:root {
  --saito-white: #fff;
  --saito-offwhite: #fff9f9;

  --saito-black: #000;
  --saito-black-transparent: #0006;
  --saito-black-heavy: #1c1c23;
  --saito-black-light: #c5c5c5bb;

  --saito-blue: #1f3df7;

  --saito-gray: #eaeaef45;
  --saito-gray-lightest: #f4f4f4;
  --saito-gray-lighter: #a5a55;
  --saito-gray-lighter-transparent: #a5a5a5bb;
  --saito-gray-light: #efefef;
  --saito-gray-transparent: #5555550a;
  --saito-gray-mid: #444;
  --saito-gray-mid-transparent: #4444;
  --saito-gray-dark: #7f7f7f;
  --saito-gray-darkest: #3d3d3d;
  --saito-gray-dark-transparent: #3d3d3d3d;

  --saito-green: #3df71f;

  /* Saito Brand Effects */
  --saito-red: #f71f3d;
  --saito-red-dark: #e8001e;
  --saito-orange: #ff8235;
  --saito-magenta: #f7009b;
  --saito-pink: #e98eaf;
  --saito-yellow-light: #e9ce93;
  --dreamscape:
    linear-gradient(125deg, #e8001e 30%, #0001 55%, #ff8235 80%),
    linear-gradient(40deg, #f7009b 15%, #f71f3d 25%, #f71f3d 65%, #e98eaf 75%, #0000),
    linear-gradient(180deg, #e9ce93, #f71f3d);

  --twitter-gray-light: #ccc;
  --twitter-gray-lighter: #e1e8ed;
  --twitter-gray-lightest: #f4f4f4;
  --twitter-gray: rgb(113 134 149);
  --twitter-gray-dark: #777;
  --twitter-gray-darker: #38444d;
  --twitter-gray-darkest: #192734;

  --saito-primary: var(--saito-orange);
  --saito-primary-dark: var(--saito-red);
  --saito-primary-text: var(--saito-white);
  --saito-primary-background: linear-gradient(
      45deg,
      var(--saito-primary) 0%,
      var(--saito-secondary) 55%,
      var(--saito-primary) 100%
    )
    transparent no-repeat left top / 400% auto;

  --saito-secondary: var(--saito-orange);
  --saito-secondary-text: var(--saito-white);

  --saito-arcade-overlay-background: #212022;
  --saito-background-color: var(--saito-offwhite);

  --saito-highlight: #6662;
  --saito-highlight-heavy: #4445;

  --saito-border-color: rgb(226 226 226);
  --saito-border-color-dark: var(--saito-gray-lighter-transparent);
  --saito-border: 1px solid #c5c5c5bb;
  --saito-border-radius: 0.5rem;

  --saito-box-shadow:
    0px 12px 17px 2px hsla(0, 0%, 0%, 0.14), 0px 5px 22px 4px hsla(0, 0%, 0%, 0.12),
    0px 7px 8px -4px hsla(0, 0%, 0%, 0.2);

  --saito-heart-animation: url('/redsquare/images/heart-orange.png');

  /* Main Theme */
  --saito-vh: 1vh;
  --saito-header-height: 7rem;
  --saito-width: 1200px;
  --saito-header-color: var(--saito-primary-text);
  --saito-header-background: var(--dreamscape);

  /* Shadow Presets */
  --color-shadow-original:
    0px 12px 17px 2px #00000024, 0px 5px 22px 4px #0000001f, 0px 7px 8px -4px #00000033;
  --style-shadow-form-box: 1px 1px 5px var(--border-color-general-dividers);
  --shadow-shape-flat: 0 0 3px var(--saito-gray-dark);
  --shadow-standard: 0px 2px 4px var(--saito-black-transparent);
  --shadow-chat-user: -4px 0px 2px -2px;
  --shadow-chat-user-self: 4px 0px 2px -2px;
  --text-shadow-normal: 1px 1px 3px;

  /* Fonts */
  --saito-font: 'visuelt-light';
  --saito-font-default: 'visuelt-light';
  --saito-font-thin: 'visuelt-thin';
  --saito-font-extralight: 'visuelt-extralight';
  --saito-font-medium: 'visuelt-medium';
  --font-size-h1: 5rem;
  --font-size-h2: 4.5rem;
  --font-size-h3: 4rem;
  --font-size-h4: 3.5rem;
  --font-size-h5: 2.5rem;
  --font-size-h6: 2rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-tiny: 1.3rem;

  --game-theme-font: var(--saito-font);

  --saito-font-color-primary: var(--saito-gray-mid);
  --saito-font-color-secondary: rgb(83, 100, 113);
  --saito-font-color-heavy: var(--saito-black-heavy);
  --saito-font-color-inverse: var(--saito-gray-lightest);
  --saito-font-color: var(--saito-font-color-primary);
  --saito-font-color-light: var(--saito-font-color-secondary);

  /* Border Radius */
  --border-radius-sharp: 0.5rem;
  --border-radius-soft: 0.75rem;
  --border-radius-comfortable: 1.2rem;
  --border-radius-round: 1.6rem;
  --border-radius-voluptuous: 2.5rem;
  --border-radius-obscene: 5rem;
  --border-radius-offset: 0rem;

  /* Border Padding */
  --border-padding-small: 0.3rem;
  --border-padding-normal: 0.5rem;
  --border-padding-wide: 0.8rem;
  --border-padding-ultra-wide: 1rem;
  --border-padding-huge: 2rem;

  /* Borders */
  --border-thickness-thin: 1px;
  --border-thickness-medium: 2px;
  --border-thickness-thick: 3px;
  --border-thickness-fat: 5px;

  --border-radius-text-input: var(--border-radius-sharp);
  --border-radius-modal-menu: var(--border-radius-sharp);
  --border-radius-sidebar-menu: var(--border-radius-round);
  --border-radius-identicon: var(--border-radius-sharp);
  --border-radius-identicon-square: none;
  --border-radius-profile-banner: none;
  --border-radius-leaderboard-ranking: var(--border-radius-soft);

  --border-thickness-general-dividers: var(--border-thickness-thin);

  --border-color-sidebar-menu: var(--saito-secondary);

  --border-color-button-primary: transparent;
  --border-color-button-hover-primary: ;
  --border-color-button-hover-modal: ;
  --border-color-button-module: var(--saito-gray-darkest);
  --border-color-button-hover-module: var(--saito-primary);

  /* Background Shim Colors */
  --background-color-shim-light: #0003;
  --background-color-shim-normal: #0008;
  --background-color-shim-dark: #000b;

  /* General Dividers and Borders */
  --border-color-general-dividers: var(--saito-gray-dark);
  --border-color-general-dividers-dark: var(--saito-gray-mid);
  --border-color-post-input: var(--border-color-general-dividers);

  /* Shadow */
  --box-shadow-sidebar-elements: var(--shadow-standard);
  --text-shadow-progress-bar: var(--text-shadow-normal) var(--saito-black);

  /* Button Background Colors */
  --background-color-button-simple-contact: none;
  --background-color-button-hover-simple-contact: var(--saito-primary);
  --background-color-button-profile: none;
  --background-color-button-hover-profile: var(--saito-primary);
  --background-color-button-hover-modal: none;
  --background-color-button-hover-wallet-control: var(--saito-primary);
  --background-color-button-mod-arcade: var(--saito-gray);
}
