.saito-crypto-deposit-container {
  max-width: min(40rem, 90vw);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 45rem;
  justify-content: space-between;
}

.saito-crypto-wallet-state {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.call-to-action {
  font-size: 2rem;
  color: var(--saito-secondary);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  Detail Overlay */
#saito-details-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.crypto-details-overlay {
  width: 600px;
  max-width: 100vw;
  min-height: 700px;
  max-height: calc(100vh - var(--saito-header-height));
  padding: 2rem;
  background-color: var(--saito-background-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.crypto-details-overlay .saito-overlay-form-header {
  padding: 0 1rem;
}

.wallet-details {
  display: grid;
  grid-template-columns: 25rem 1fr;
  column-gap: 2rem;
}

.wallet-details h6 {
  grid-column: span 2;
}

.deposit-address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.pubkey-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
}

.pubkey-container:hover i {
  transform: scale(1.1);
}

.mobile-only460 {
  display: none;
}

.wallet-actions {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
}

.main-balance {
  position: relative;
}

.wallet-actions .label {
  margin-top: 0.5rem;
}

.crypto-details-overlay .balance-amount-whole,
.crypto-details-overlay .balance-amount-separator {
  font-size: 2.5rem;
}

.saito-button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: auto;
}

.saito-button-grid .saito-button-primary,
.saito-button-grid .saito-button-secondary {
  min-width: unset;
}

.transaction-history {
  display: grid;
  flex-grow: 1;
  position: relative;
  padding: 0.5rem 0;
  max-height: 40rem;
  grid-template-rows: min-content minmax(0, 1fr);
}

.transaction-history .saito-table-header,
.transaction-history .saito-table-row {
  grid-template-columns: repeat(5, 1fr);
}

.transaction-history-table {
  flex-grow: 1;
}

.deposit {
  color: #00ae00;
}

.withdraw {
  color: #e34927;
}

.withdraw.invalid,
.deposit.invalid {
  color: #cab202;
}

.crypto-timestamp {
  white-space: nowrap;
}

.refresh {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  top: 0;
}

.main-balance .refresh {
  top: 0.7rem;
}

.refresh:hover {
  color: var(--saito-primary);
}

.refreshing {
  animation: spin 1s linear infinite;
}

.pagination-container.disabled {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refreshed {
  visibility: hidden;
}

.get-saito-overlay {
  width: min(800px, 95vw);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 2rem;
  max-height: 95vh;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .crypto-details-overlay {
    min-height: calc(100vh - var(--saito-header-height));
  }

  .wallet-details {
    grid-template-columns: min-content 1fr;
    column-gap: 0;
  }

  .saito-button-grid {
    grid-template-columns: unset;
    max-width: 200px;
    gap: 0;
  }

  .wallet-actions {
    min-width: 210px;
    margin-left: auto;
  }
}

@media screen and (max-width: 460px) {
  .crypto-details-overlay {
    gap: 1rem;
  }

  .wallet-details {
    grid-template-columns: 1fr;
  }

  h6 {
    display: none;
  }

  .wallet-actions {
    padding: 1rem 0;
    margin-left: unset;
    display: grid;
    grid-template-areas: 'A C' 'B C';
  }

  .saito-button-grid {
    grid-area: C;
  }

  .refresh,
  .main-balance .refresh {
    right: unset;
    left: 0;
    top: -3rem;
  }

  .deposit-address .pubkey-container {
    display: none;
  }

  .mobile-only460 {
    display: flex;
    margin-left: auto;
  }

  .saitox-table.transaction-history-table {
    grid-template-columns: 10rem 0px 1fr 0px 1fr;
  }

  .saitox-table.transaction-history-table > div {
    padding: 0;
    overflow: hidden;
  }
}
