/* ----------------------------------------------------------------
buttons -- Primary & Secondary -- difference is color pattern
-----------------------------------------------------------------*/

button,
.saito-button-primary,
.saito-button-secondary {
  /* Center all buttons by default*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: var(--border-radius-soft);
  cursor: pointer;
  box-shadow: var(--shadow-standard);
  border: var(--border-thickness-thin) solid var(--saito-primary);

  /* Not sure about min-width */
  min-width: 18rem;
  min-height: 4.5rem;
  max-width: 100%;
}

button,
.saito-button-primary {
  background: var(--saito-primary);
  color: var(--saito-primary-text);

  /* Deprecated for button-shimmer
  background-size: 400% auto;
  background-position: 1% 1%;
  */
}

.saito-button-secondary {
  color: var(--saito-primary);
  background: var(--saito-background-color);
}

button:focus,
.saito-button-primary:focus,
.saito-button-secondary:focus {
  outline: none;
}

/* Disabled -- indicate main choice unavailable */
.saito-button-primary.disabled,
.saito-button-primary[disabled] {
  background: var(---saito-background-color);
  /* Use a grayscale color rather than primary to distinguish from secondary buttons*/
  color: var(--saito-font-color-primary);
  border: var(--border-thickness-thin) solid var(--saito-font-color-primary);
  cursor: unset;
  pointer-events: none;
}

button:hover,
.saito-button-primary:hover {
}

.saito-button-secondary:hover {
  /* found in the settings, top wallet control buttons --AND also for loading new posts  */
  background: var(--saito-primary);
  color: var(--saito-primary-text);
}

button.small,
.saito-button-primary.small,
.saito-button-secondary.small,
.saito-button-gradient.small {
  padding: 0.75rem 0.7rem;
  font-size: 1.4rem;
  min-width: 4rem;
}
button.fat,
saito-button-primary.fat,
.saito-button-secondary.fat,
saito-button-gradient.fat {
  height: 7rem;
  font-size: 2rem;
  min-width: 30rem;
}

.saito-button-row {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 0 1rem;
}

@media (max-width: 600px) {
  .saito-button-secondary {
    min-width: 10rem;
  }

  button,
  .saito-button-primary {
    /* controls main post buttons */
    min-width: 12rem;
  }
}
