select {
  width: 100%;
  cursor: pointer;
}

select,
::picker(select) {
/*  appearance: base-select;*/
}


/* ----------------------------------------------------------------
Selects
-----------------------------------------------------------------*/
.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: transparent;
  overflow: hidden;
  width: 100.01%;
  border-radius: 0 1rem 1rem 0;
  outline: none;
  background-color: none;
  cursor: pointer;
}

.saito-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--saito-white);
  background-color: var(--saito-primary);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.saito-select:hover::after {
  color: var(--saito-white) !important;
}

.saito-select .saito-slct {
  font-size: 2rem;
}

.saito-slct {
  appearance: none;
  background-color: var(--saito-white);
  border-radius: 1rem;
  padding: 0 1rem;
}

textarea,
input {
  background-color: var(--saito-background-color);
  color: var(--saito-font-color-heavy);
  border: var(--border-thickness-thin) solid var(--saito-primary);
}




textarea:focus, input:focus, select:focus {
  outline: none;
}


/* ----------------------------------------------------------------
text and password inputs
-----------------------------------------------------------------*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="datetime-local"] {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  width: 20rem;  /* Min width ? */
  color: var(--saito-font-color);
  border-radius: .5rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime-local"] {
  outline: none;
}

input::placeholder {
  opacity: 80%;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
}


/* ----------------------------------------------------------------
checkbox input
-----------------------------------------------------------------*/

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border: var(--border-thickness-thin) solid var(--saito-primary);
  width: 2rem;
  height: 2rem;
  margin: 3px 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  opacity: 0;
}

input[type="checkbox"]:checked {
  background-color: var(--saito-primary);
}

input[type="checkbox"]:checked::after {
  color: var(--saito-background-color);
  opacity: 1;
}

/* ----------------------------------------------------------------
radio inputs
-----------------------------------------------------------------*/

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: var(--border-thickness-thin) solid var(--saito-primary);
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 3px;
  position: relative;
}

input[type="radio"]::after {
  font-weight: 900;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--saito-primary);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 1rem;
  opacity: 0;
  border-radius: 3px;
}

input[type="radio"]:checked::after {
  color: var(--saito-background-color);
  opacity: 1;
}

/* ----------------------------------------------------------------
Range inputs
-----------------------------------------------------------------*/

input[type="range"] {
  -webkit-appearance: none;
  margin: 1.8rem 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-standard);
  background: var(--saito-primary);
  border-radius: 0.5rem;
  border: var(--border-color-general-dividers);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: var(--box-shadow-standard);
  border: 1px solid var(--color-contrast);
  height: 3rem;
  width: 2rem;
  border-radius: 0.5rem;
  background: var(--saito-white);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-standard);
  background: var(--saito-primary);
  border-radius: .5rempx;
  border: var(--border-color-general-dividers);
}

input[type="range"]::-moz-range-thumb {
  box-shadow: var(--box-shadow-standard);
  border: 1px solid var(--color-contrast);
  height: 3rem;
  width: 2rem;
  border-radius: .5rem;
  background: var(--saito-white);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--saito-primary);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1.6rem 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--saito-primary);
  border: var(--border-color-general-dividers);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-standard);
}

input[type="range"]::-ms-fill-upper {
  /* background: #3071a9; */
  border: var(--border-color-general-dividers);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-standard));
}

input[type="range"]::-ms-thumb {
  box-shadow: var(--box-shadow-standard);
  border: 1px solid var(--color-contrast);
  height: 3.6rem;
  width: 1.6rem;
  border-radius: 0.5rem;
  background: var(--saito-white);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--saito-primary);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--saito-primary);
}


/***************************************************
 * the cool toggle switch element for RS - curation
 * (hoping it is more generally applicable)
 * *************************************************/
.toggle-switch {
  position: relative;
  display: flex;
  min-width: 250px;
  width: 100%;
  border-radius: 999px;
  background: var(--saito-gray-transparent);
  border: 1px solid var(--saito-border-color, #444);
  overflow: hidden;
  font-size: 0.9rem;
  user-select: none;
  padding: 2px;
}

.toggle-switch::before {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: calc(70% - 4px);
  background: var(--saito-primary, #639);
  border-radius: 999px;
  z-index: 0;
  transition: left 0.3s ease;
  left: 2px; /* initial position */
}

.toggle-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  min-width: auto !important;
  width: auto !important;
  padding: 10px 0 !important;
  margin: 0.5rem;
  background: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  transition:
    flex-basis 0.3s ease,
    color 0.25s ease;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
}

.toggle-option:hover {
  border: 0;
  color: transparent;
}

.toggle-switch .toggle-option.active {
  flex-basis: 70% !important;
  color: #fff;
}

.toggle-switch .toggle-option:not(.active) {
  color: transparent;
}

.toggle-switch.active-left::before {
  left: 2px;
  width: calc(70% - 4px);
}

.toggle-switch.active-right::before {
  left: calc(30% + 2px);
  width: calc(70% - 4px);
}
