.saito-crypto-deposit-container {
  background: var(--saito-background-color);
  color: var(--saito-primary);
  width: min(40rem, 95vw);

  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  align-items: center;
  font-size: 2rem;
}

.saito-crypto-wallet-state {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.saito-crypto-deposit-container .call-to-action {
  color: var(--saito-secondary);
  margin: 1rem;
}

.saito-crypto-header {
  font-size: 4.5rem;
  text-transform: uppercase;
}
