.saito-menu > ul {
  padding: 0;
  list-style-type: none;
}

.saito-menu > ul > li {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
  align-items: center;
  font-size: 1.92rem;
  position: relative;
  border-radius: var(--border-radius-soft);
}

.saito-menu > ul > li:active {
  /* newly added state, for use in Sangre3000 -only so far */
  background: var(--background-color-button-active-sidebar);
}

.saito-menu > ul > li:hover p {
  background-color: var(--saito-background-color);
  color: var(--saito-background-color);
}

.saito-menu > ul > li > i {
  font-size: 2.6rem;
  width: 2rem;
  padding-left: 1.2rem;
  margin-bottom: 0.4rem;
}

.saito-menu > ul > li > span {
  font-size: 1.92rem;
  margin-right: 1rem;
}

/* saito header menu */

.saito-header-menu-section {
  padding: /*0.5rem*/ 1rem;
}

.saito-header-menu-section .saito-menu > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.empty-menu-section + hr {
  display: none;
}

.saito-header-menu-section hr {
  margin: 1.5rem;
  border-style: dashed;
}

.saito-header-menu-section .saito-menu > ul > li {
  display: flex;
  text-align: center;
}
.saito-header-menu-section .saito-menu > ul > li > i {
  padding: 0;
  width: unset !important;
  font-size: 2.75rem;
  margin-bottom: 0.75rem;
}
.saito-header-menu-section .saito-menu > ul > li > i + span {
  margin: 0;
  text-overflow: ellipsis;
  max-width: 10rem;
  overflow: hidden;
  white-space: pre-wrap;
  padding: 0.5rem;
}
.saito-header-menu-section .saito-menu > ul > li > span {
  font-size: 1.33rem;
  margin: 0;
}

.saito-menu > ul > li > i + span,
.saito-menu > ul > li > i + span + span {
  margin-left: 3.8rem;
}

.saito-menu i::before {
  -webkit-text-stroke-color: var(--saito-font-color);
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.saito-menu li:hover i::before {
  -webkit-text-stroke-color: var(--saito-primary-text);
}

@media screen and (max-width: 620px) {
  .saito-header-menu-section .saito-menu > ul {
    grid-gap: 0.5rem;
  }

  .saito-header-menu-section .saito-menu > ul > li {
    padding: 0.5rem;
  }

  .saito-header-menu-section .saito-menu > ul > li > i {
    font-size: 2.25rem;
    margin-bottom: 0.25rem;
  }
}
