.saito-scheduler {
  min-width: 50rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
}

input#schedule-datetime-input,
.saito-scheduler-natural-time {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color-general-dividers);
  border-radius: 0;
  height: 3rem;
  line-height: 3rem;
}

/*  Responsive */

@media screen and (max-width: 503px) {
  .saito-scheduler {
    min-width: auto;
  }
}

@media screen and (max-width: 396px) {
}
