.saito-crypto-deposit-container {
  width: min(40rem, 90vw);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.saito-crypto-wallet-state {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.call-to-action {
  font-size: 2rem;
  color: var(--saito-secondary);
  padding: 1rem;
  margin: auto;
}
