/* ----------------------------------------------------------------
Saito Table
-----------------------------------------------------------------*/

.saito-table-body {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.75rem;
  width: 100%;
  position: relative;
  border-radius: 0.1rem;
  max-height: 100%;
  height: fit-content;
  position: relative;
  overflow-y: auto;
  min-height: 2rem;
}

.saito-table-row {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.5rem;
  padding: 0.6rem 1rem 0.5rem;
  background: var(--saito-highlight);
}

.saito-table-row:hover {
  background: var(--saito-highlight-heavy);
}

.saito-table-rank {
  font-family: courier, monospace;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: space-around;
}

.saito-table-header {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.6rem 1rem 0.5rem;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: var(--saito-font-color-heavy);
  background: var(--saito-highlight-heavy);
}
