.payment-box {
  padding: 30px;
  width: 420px;
  height: 600px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-box h2 {
  margin: 0 0 15px 0;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
}

.product-desc {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.4;
}

.price {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 15px;
}

.instructions {
  color: #777;
  text-align: center;
  margin-top: 20px;
  line-height: 1.4;
}

.help {
  margin-top: auto;
}


.timer {
  font-weight: 600;
  color: #FFF;
}

.pqrcode {
  width: 220px;
  height: 220px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: monospace;
  border: 0.5rem solid #FFF;
  transform: scale(0.9);
}

.wallet-address {
  width: max-content;
}

.wallet-address input {
  width: 100%;
  text-align: center;
  align-self: stretch;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s;
}

.wallet-address input:hover,
.wallet-address input:focus {
  border-color: #ff5f6d;
  box-shadow: 0 0 8px rgba(255,95,109,0.3);
}


.extend-timer {
  color: var(--saito-font-color-heavy);
  cursor: pointer;
}