
.chat-sidebar {
	width: 35rem;
	background: var(--saito-background-color);
	height: calc(100vh - var(--saito-header-height));
	border-left: 1px solid var(--saito-border-color); /* testing */
	display: grid;
	grid-template-rows: min-content auto;
}






.chat-sidebar .saito-user {
	font-size: 1.8rem;
	height: unset;
	padding: 0.5rem 1rem;
}

